<div class="map-handling-section setting-section">
  <nz-spin [nzSpinning]="isLoading">
    <div class="section-header">
      <div class="tab-header">
        <span>ORDER PROCESSING & RETURN</span>
        <button
          nz-button
          nzType="default"
          class="reset-button"
          (click)="goBack()"
        >
          <span nz-icon nzType="arrow-left" nzTheme="outline"></span> Back
        </button>
      </div>
    </div>

    <div class="body-section" style="margin-left: 0; margin-right: 0">
      <form [formGroup]="orderProcessingReturnForm">
        <nz-form-item *ngIf="formFieldOnUI?.poSendingMethod">
          <nz-form-label class="label-section">PO Method</nz-form-label>
          <nz-form-control class="input-section">
            <nz-input-group class="small-input">
              <nz-radio-group formControlName="poSendingMethod">
                <label
                  *ngFor="let option of dropDownList?.poSendingMethod"
                  nz-radio
                  [nzValue]="option?.value"
                  >{{ option?.name }}</label
                >
              </nz-radio-group>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="formFieldOnUI?.generateLabels">
          <nz-form-label class="label-section">123Store Label</nz-form-label>
          <nz-form-control class="input-section">
            <nz-input-group class="large-input">
              <nz-radio-group formControlName="generateLabels">
                <label
                  *ngFor="let option of generateLabelsList"
                  nz-radio
                  [nzValue]="option?.value"
                  >{{ option?.name }}</label
                >
              </nz-radio-group>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="formFieldOnUI?.isPackingSlipEnabled">
          <nz-form-label class="label-section"
            >Is Packing Slip Enabled</nz-form-label
          >
          <nz-form-control class="input-section">
            <nz-input-group class="small-input">
              <nz-switch formControlName="isPackingSlipEnabled"></nz-switch>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="formFieldOnUI?.enabledCarriers">
          <nz-form-label class="label-section"
            >Enabled Carriers <span style="color: red">*</span></nz-form-label
          >
          <nz-form-control
            class="input-section"
            [nzErrorTip]="enabledCarriersError"
          >
            <nz-input-group class="small-input">
              <nz-select
                nzPlaceHolder="Select Enabled Carriers"
                formControlName="enabledCarriers"
                nzMode="multiple"
              >
                <nz-option
                  *ngFor="let option of enabledCarriersOptions"
                  [nzLabel]="option.name"
                  [nzValue]="option.value"
                  [nzDisabled]="option.disabled"
                ></nz-option>
              </nz-select>
              <ng-template #enabledCarriersError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Choose at least 1 preferred carriers<br
                /></ng-container>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="formFieldOnUI?.labelPageSize">
          <nz-form-label class="label-section"
            >Label Page Size <span style="color: red">*</span></nz-form-label
          >
          <nz-form-control
            class="input-section"
            [nzErrorTip]="labelPageSizeError"
          >
            <nz-input-group class="large-input">
              <nz-radio-group formControlName="labelPageSize">
                <label
                  *ngFor="let option of dropDownList?.labelPageSize"
                  nz-radio
                  [nzValue]="option?.value"
                  >{{ option?.name }}</label
                >
              </nz-radio-group>
              <ng-template #labelPageSizeError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Choose any 1 label page size<br
                /></ng-container>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="formFieldOnUI?.copyOfPOSentOverEmail">
          <nz-form-label class="label-section"
            >Send Copy Of PO Over Email
            <span style="color: red">*</span></nz-form-label
          >
          <nz-form-control class="input-section">
            <nz-input-group class="small-input">
              <nz-switch formControlName="copyOfPOSentOverEmail"></nz-switch>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <div
          *ngIf="formFieldOnUI?.authorizedInvoiceSenders"
          formArrayName="authorizedInvoiceSenders"
        >
          <div
            *ngFor="
              let email of authorizedInvoiceSenders.controls;
              let i = index
            "
          >
            <div [formGroupName]="i">
              <nz-form-item *ngIf="formFieldOnUI?.authorizedInvoiceSenders">
                <nz-form-label
                  class="label-section"
                  nzFor="brand"
                  *ngIf="i === 0"
                >
                  Authorized Invoice Sender<span
                    style="color: red; font-weight: 500"
                    >*</span
                  >
                </nz-form-label>
                <div class="label-section" *ngIf="i !== 0"></div>
                <nz-form-control
                  class="input-section"
                  [nzErrorTip]="emailError"
                >
                  <nz-input-group class="medium-input">
                    <input
                      formControlName="email"
                      type="text"
                      nz-input
                      placeholder="Enter Email"
                    />
                    <ng-template #emailError let-control>
                      <ng-container *ngIf="control.hasError('required')"
                        >Email is required</ng-container
                      >
                      <ng-container *ngIf="control.hasError('maxlength')"
                        >Email can only be between 1 & 255<br
                      /></ng-container>
                      <ng-container *ngIf="control.hasError('email')"
                        >Please enter a valid email address</ng-container
                      >
                    </ng-template>
                  </nz-input-group>
                  <div style="margin-top: 6px">
                    <button
                      nz-button
                      nzType="primary"
                      nzShape="circle"
                      *ngIf="authorizedInvoiceSenders.controls.length > 1"
                      style="
                        background: #f41e2c !important;
                        margin-left: 8px;
                        border: 0;
                      "
                      (click)="removeAuthorizedFeedSender(i)"
                      nzSize="small"
                    >
                      <span nz-icon nzType="minus"></span>
                    </button>
                    <button
                      [disabled]="i >= 9"
                      nz-button
                      nzType="primary"
                      nzShape="circle"
                      *ngIf="i === authorizedInvoiceSenders.controls.length - 1"
                      style="
                        background: #00c13b !important;
                        margin-left: 8px;
                        border: 0;
                      "
                      (click)="addAuthorizedFeedSender()"
                      nzSize="small"
                    >
                      <span nz-icon nzType="plus"></span>
                    </button>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>

        <nz-form-item *ngIf="formFieldOnUI?.returnProfile">
          <nz-form-label class="label-section"
            >Return Profile
          </nz-form-label>
          <nz-form-control class="input-section" >
            <nz-input-group class="small-input">
              <nz-select
                nzShowSearch
                nzPlaceHolder="Select A Return Profile"
                formControlName="returnProfile"
              >
                <!-- <nz-option
                  *ngFor="let option of dropDownList?.returnDetails"
                  [nzLabel]="option?.name"
                  [nzValue]="option?.value"
                ></nz-option> -->
            
                  <nz-option nzLabel="Return To Partner Location" nzValue="1"></nz-option>
                  <nz-option nzLabel="Field Destroy" nzValue="2"></nz-option>
          
              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </form>
      <div class="footer-section">
        <button
          nz-button
          nzType="default"
          class="reset-button"
          (click)="reset()"
        >
          <span nz-icon nzType="reload" nzTheme="outline"></span> Reset
        </button>
        <button
          nz-button
          style="margin-top: 0"
          class="action-button"
          [nzType]="'primary'"
          (click)="submitForm()"
        >
          <span
            *ngIf="isSaving"
            style="color: white; font-size: 16px"
            nz-icon
            nzType="loading"
          ></span>
          <span
            *ngIf="!isSaving"
            nz-icon
            nzType="file-text"
            nzTheme="outline"
          ></span>
          Save
        </button>
      </div>
    </div>
  </nz-spin>
</div>
