<div class="return-section">
  <app-section-header [header]="'Returns'"></app-section-header>

  <div class="body-section">
    <nz-tabset nzType="card">
      <nz-tab nzTitle="Return Initiated">
        <app-return-initiated></app-return-initiated>
      </nz-tab>
      <nz-tab nzTitle="Return Shipped">
        <app-return-shipped></app-return-shipped>
      </nz-tab>
      <nz-tab nzTitle="Return Delivered">
        <app-return-delivered></app-return-delivered>
      </nz-tab>
      <nz-tab nzTitle="Carrier Claims">
        <app-carrier-claims></app-carrier-claims>
      </nz-tab>
      <nz-tab nzTitle="All">
        <app-all-return></app-all-return>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
