<div class="orders-section">
  <app-section-header [header]="'Orders'"></app-section-header>

  <div class="body-section">
    <nz-tabset
      [nzSelectedIndex]="selectedTab"
      (nzSelectedIndexChange)="changeTabIndex($event)"
      nzType="card"
    >
      <nz-tab [nzTitle]="newTabTitle">
        <ng-template #newTabTitle>
          <div
            style="display: flex; align-items: center; justify-content: center"
          >
            <span style="margin-right: 5px">New</span>
            <nz-badge
              *ngIf="newTotal > -1"
              nzStandalone
              [nzShowZero]="true"
              [nzCount]="newTotal"
              [nzStyle]="{
                backgroundColor: selectedTab == 0 ? '#ff4d4f' : '#fff',
                color: selectedTab == 0 ? 'white' : '#999',
                boxShadow: selectedTab == 0 ? 'none' : '0 0 0 1px #d9d9d9 inset'
              }"
            ></nz-badge>
          </div>
        </ng-template>
        <app-new-orders
          (changeTab)="selectedTab = 1"
          (totalData)="getTotal($event, 'new')"
        ></app-new-orders
      ></nz-tab>
      <nz-tab [nzTitle]="pendingShipmentTabTitle">
        <ng-template #pendingShipmentTabTitle>
          <div
            style="display: flex; align-items: center; justify-content: center"
          >
            <span style="margin-right: 5px">Shipment Pending</span>
            <nz-badge
              *ngIf="pendingShipmentTotal > -1"
              nzStandalone
              [nzShowZero]="true"
              [nzCount]="pendingShipmentTotal"
              [nzStyle]="{
                backgroundColor: selectedTab == 1 ? '#ff4d4f' : '#fff',
                color: selectedTab == 1 ? 'white' : '#999',
                boxShadow: selectedTab == 1 ? 'none' : '0 0 0 1px #d9d9d9 inset'
              }"
            ></nz-badge>
          </div>
        </ng-template>
        <app-pending-shipment
          (totalData)="getTotal($event, 'pending-shipment')"
        ></app-pending-shipment
      ></nz-tab>
      <nz-tab [nzTitle]="cancellationRequestedTabTitle">
        <ng-template #cancellationRequestedTabTitle>
          <div
            style="display: flex; align-items: center; justify-content: center"
          >
            <span style="margin-right: 5px">Buyer Cancellation Requested</span>
            <nz-badge
              *ngIf="cancellationRequestedTotal > -1"
              nzStandalone
              [nzShowZero]="true"
              [nzCount]="cancellationRequestedTotal"
              [nzStyle]="{
                backgroundColor: selectedTab == 2 ? '#ff4d4f' : '#fff',
                color: selectedTab == 2 ? 'white' : '#999',
                boxShadow: selectedTab == 2 ? 'none' : '0 0 0 1px #d9d9d9 inset'
              }"
            ></nz-badge>
          </div>
        </ng-template>
        <app-cancellation-requested
          (totalData)="getTotal($event, 'cancellation-requested')"
        ></app-cancellation-requested
      ></nz-tab>
      <nz-tab [nzTitle]="pendingInvoiceTabTitle">
        <ng-template #pendingInvoiceTabTitle>
          <div
            style="display: flex; align-items: center; justify-content: center"
          >
            <span style="margin-right: 5px">Pending Invoice</span>
            <nz-badge
              *ngIf="pendingInvoiceTotal > -1"
              nzStandalone
              [nzShowZero]="true"
              [nzCount]="pendingInvoiceTotal"
              [nzStyle]="{
                backgroundColor: selectedTab == 3 ? '#ff4d4f' : '#fff',
                color: selectedTab == 3 ? 'white' : '#999',
                boxShadow: selectedTab == 3 ? 'none' : '0 0 0 1px #d9d9d9 inset'
              }"
            ></nz-badge>
          </div>
        </ng-template>
        <app-pending-invoice
          (totalData)="getTotal($event, 'pending-invoice')"
        ></app-pending-invoice
      ></nz-tab>
      <!-- <nz-tab [nzTitle]="inTransitTabTitle">
        <ng-template #inTransitTabTitle>
          <div
            style="display: flex; align-items: center; justify-content: center"
          >
            <span style="margin-right: 5px">In Transit</span>
            <nz-badge
              *ngIf="inTransitTotal > -1"
              nzStandalone
              [nzShowZero]="true"
              [nzCount]="inTransitTotal"
              [nzStyle]="{
                backgroundColor: selectedTab == 3 ? '#ff4d4f' : '#fff',
                color: selectedTab == 3 ? 'white' : '#999',
                boxShadow: selectedTab == 3 ? 'none' : '0 0 0 1px #d9d9d9 inset'
              }"
            ></nz-badge>
          </div>
        </ng-template>
        <app-in-transit
          (totalData)="getTotal($event, 'in-transit')"
        ></app-in-transit
      ></nz-tab>
      <nz-tab [nzTitle]="deliveredTabTitle">
        <ng-template #deliveredTabTitle>
          <div
            style="display: flex; align-items: center; justify-content: center"
          >
            <span style="margin-right: 5px">Delivered</span>
            <nz-badge
              *ngIf="deliveredTotal > -1"
              nzStandalone
              [nzShowZero]="true"
              [nzCount]="deliveredTotal"
              [nzStyle]="{
                backgroundColor: selectedTab == 4 ? '#ff4d4f' : '#fff',
                color: selectedTab == 4 ? 'white' : '#999',
                boxShadow: selectedTab == 4 ? 'none' : '0 0 0 1px #d9d9d9 inset'
              }"
            ></nz-badge>
          </div>
        </ng-template>
        <app-delivered
          (totalData)="getTotal($event, 'delivered')"
        ></app-delivered
      ></nz-tab> -->
      <!-- <nz-tab nzTitle="RTO"><app-rto-orders></app-rto-orders></nz-tab> -->
      <nz-tab [nzTitle]="allTabTitle">
        <ng-template #allTabTitle>
          <div
            style="display: flex; align-items: center; justify-content: center"
          >
            <span style="margin-right: 5px">All</span>
            <nz-badge
              *ngIf="newTotal > -1"
              nzStandalone
              [nzShowZero]="true"
              [nzCount]="allTotal"
              [nzStyle]="{
                backgroundColor: selectedTab == 4 ? '#ff4d4f' : '#fff',
                color: selectedTab == 4 ? 'white' : '#999',
                boxShadow: selectedTab == 4 ? 'none' : '0 0 0 1px #d9d9d9 inset'
              }"
            ></nz-badge>
          </div>
        </ng-template>
        <app-all-orders (totalData)="getTotal($event, 'all')"></app-all-orders
      ></nz-tab>
    </nz-tabset>
  </div>
</div>
