<div class="return-table">
  <!-- filter/export/search -->
  <div class="action">
    <div style="display: flex">
      <nz-badge
        style="margin-right: 10px"
        [nzShowZero]="false"
        [nzCount]="badgeTotal"
      >
        <button (click)="openNav()" nz-button nzType="primary" nzShape="round">
          <span nz-icon nzType="filter" nzTheme="outline"></span>
          Filter
        </button>
      </nz-badge>
      <button
        style="margin-right: 10px"
        nz-button
        nzType="primary"
        nzShape="round"
        (click)="isExportVisible = true"
      >
        <span nz-icon nzType="upload" nzTheme="outline"></span> Export
      </button>
      <form nz-form [formGroup]="searchForm">
        <nz-form-item style="margin-bottom: 0 !important">
          <nz-form-control nzErrorTip="Please input your valid code!">
            <nz-input-group nzPrefixIcon="search" class="search">
              <input
                (keyup)="accountSearch.next($event)"
                formControlName="search"
                nz-input
                placeholder="Search..."
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>

  <!-- tag show sections -->
  <div *ngIf="clear_btn && badgeTotal !== 0" class="tag-section">
    <nz-tag *ngIf="selectDate" nzMode="closeable" (nzOnClose)="close('date')"
      >{{ selectDate[0] | customDate }} To
      {{ selectDate[1] | customDate }}</nz-tag
    >
    <nz-tag
      *ngIf="selectStatus"
      nzMode="closeable"
      (nzOnClose)="close('status')"
      >{{ selectStatus }}</nz-tag
    >
    <nz-tag
      *ngIf="selectReturnClassification"
      nzMode="closeable"
      (nzOnClose)="close('returnClassification')"
      >{{ selectReturnClassification }}</nz-tag
    >
    <button
      *ngIf="badgeTotal >= 1"
      nz-button
      nzType="default"
      (click)="tagFunction()"
      style="
        float: none;
        background-color: white;
        color: #1221c3;
        border: 1px solid #1221c3;
      "
      class="action-button clear-btn"
    >
      clear
    </button>
  </div>

  <nz-table
    #nzTable
    nzOuterBordered
    [nzData]="listOfData"
    nzShowSizeChanger
    [nzPageSizeOptions]="pageSizeOptions"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzLoading]="isLoading"
    [nzScroll]="{ x: '100%' }"
    (nzPageIndexChange)="onPageIndexChange($event)"
  >
    <thead>
      <tr>
        <th>PO #</th>
        <th>Invoice No.</th>
        <th>Customer Name</th>

        <th
          *ngIf="
            tabName === 'returnDelivered' ||
            tabName === 'carrierClaims' ||
            tabName === 'all'
          "
        >
          Return Delivery Date
        </th>
        <th
          *ngIf="
            tabName === 'returnDelivered' ||
            tabName === 'carrierClaims' ||
            tabName === 'all'
          "
        >
          Credit Amount Due
        </th>
        <th>MPN</th>
        <th
          *ngIf="
            tabName === 'returnShipped' ||
            tabName === 'returnDelivered' ||
            tabName === 'returnInitiated'
          "
        >
          Return Classification
        </th>
        <th *ngIf="tabName === 'returnShipped'">RA #</th>
        <th
          *ngIf="
            tabName === 'returnShipped' ||
            tabName === 'returnDelivered' ||
            tabName === 'carrierClaims' ||
            tabName === 'all'
          "
        >
          Tracking No.
        </th>
        <th
          *ngIf="
            tabName === 'returnShipped' ||
            tabName === 'returnDelivered' ||
            tabName === 'returnInitiated'
          "
          id="action"
          class="action-column"
          [nzWidth]="'227px'"
          nzRight
        >
          <div>Action</div>
        </th>
        <th
          [nzWidth]="'227px'"
          *ngIf="tabName === 'carrierClaims' || tabName === 'all'"
        >
          Status
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="listOfData">
        <tr>
          <td>
            <a
              [routerLink]="'po-details/' + data?.po_no"
              class="link no-wrap"
              >{{ data?.po_no }}</a
            >
          </td>
          <td class="no-wrap">{{ data?.invoice_no }}</td>
          <td nzBreakWord>{{ data?.customer_name }}</td>

          <td
            *ngIf="
              tabName === 'returnDelivered' ||
              tabName === 'carrierClaims' ||
              tabName === 'all'
            "
          >
            <span class="date">
              {{
                data.return_delivery_date
                  ? (data.return_delivery_date | customDate)
                  : ""
              }}
            </span>
          </td>
          <td
            *ngIf="
              tabName === 'returnDelivered' ||
              tabName === 'carrierClaims' ||
              tabName === 'all'
            "
          >
            {{ data?.credit_amount_due | currency }}
          </td>
          <td>
            <div>
              <a
                (click)="
                  navigatePage('products/details', { sku: data?.porduct_mpn })
                "
                class="link no-wrap"
                >{{ data?.porduct_mpn }}</a
              >
            </div>
            <ul class="sub-section">
              <li class="no-wrap">
                <div class="sub-val">
                  <span class="title">Order Qty&nbsp;&nbsp;-&nbsp;</span
                  >{{ data?.porduct_qty }}
                </div>
              </li>
              <li class="no-wrap">
                <div class="sub-val">
                  <span class="title"
                    >Return Qty&nbsp;-&nbsp;{{ data?.return_qty }}</span
                  >
                </div>
              </li>
            </ul>
          </td>
          <td
            *ngIf="
              tabName === 'returnShipped' ||
              tabName === 'returnDelivered' ||
              tabName === 'returnInitiated'
            "
            class="no-wrap"
          >
            {{ data?.return_classification }}
          </td>
          <td *ngIf="tabName === 'returnShipped'">
            <span *ngFor="let ra of data?.ra_number">
              <div>
                <b class="no-wrap">{{ ra?.name }}</b>
              </div>
              <ul class="sub-section">
                <li class="no-wrap">
                  <div class="sub-val">
                    <span class="title">RA #:&nbsp;</span>{{ ra?.number }}
                  </div>
                </li>
              </ul>
            </span>
          </td>
          <td
            *ngIf="
              tabName === 'returnShipped' ||
              tabName === 'returnDelivered' ||
              tabName === 'carrierClaims' ||
              tabName === 'all'
            "
          >
            <div>
              <b class="no-wrap">{{ data?.tracking?.name }}</b>
            </div>
            <ul class="sub-section">
              <li>
                <div class="sub-val no-wrap">
                  <span class="title">AWB:&nbsp;</span
                  >{{ data?.tracking?.number }}
                </div>
              </li>
            </ul>
          </td>
          <td
            [nzRight]="
              tabName === 'returnShipped' ||
              tabName === 'returnDelivered' ||
              tabName === 'returnInitiated'
            "
          >
            <div style="display: flex" *ngIf="tabName === 'returnShipped'">
              <div class="action-btn">
                <button
                  style="
                    border: 1px solid #28a745;
                    color: #28a745;
                    margin-bottom: 8px;
                  "
                  nz-button
                  (click)="markAsReceived(data?.po_no)"
                >
                  Mark as Received
                </button>
                <button
                  style="border: 1px solid #2121c3; color: #2121c3"
                  nz-button
                  (click)="selectAction('returnInitiated')"
                >
                  Add RA #
                </button>
              </div>
              <ng-container [ngTemplateOutlet]="dots"></ng-container>
            </div>
            <div
              style="display: flex; justify-content: space-between"
              *ngIf="tabName === 'returnDelivered'"
            >
              <div class="action-btn">
                <button
                  style="
                    border: 1px solid #28a745;
                    color: #28a745;
                    margin-bottom: 8px;
                  "
                  nz-button
                  nz-dropdown
                  [nzDropdownMenu]="returnMenu"
                  nzTrigger="click"
                >
                  Approve Return
                </button>
              </div>
              <app-three-dot-menu-btn [menu]="menu"></app-three-dot-menu-btn>
            </div>

            <app-status-badge
              *ngIf="tabName === 'carrierClaims' || tabName === 'all'"
              [type]="statusEnum.Success"
              [text]="data?.refund_status"
            ></app-status-badge>

            <div
              style="display: flex; justify-content: space-between"
              *ngIf="tabName === 'returnInitiated'"
            >
              <div class="action-btn">
                <button
                  (click)="selectAction('returnInitiated')"
                  style="border: 1px solid #28a745; color: #28a745"
                  nz-button
                >
                  Add RA #
                </button>
              </div>
              <ng-container [ngTemplateOutlet]="dots"></ng-container>
            </div>

            <ng-template #dots>
              <app-three-dot-menu-btn
                style="margin-left: 5px"
                [menu]="menu"
              ></app-three-dot-menu-btn>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li
                    (click)="selectAction('returnClarification')"
                    nz-menu-item
                  >
                    Return Clarification
                  </li>
                </ul>
              </nz-dropdown-menu>
            </ng-template>
          </td>
        </tr>
      </ng-template>

      <nz-dropdown-menu #returnMenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="selectAction('returnDelivered')">
            Approve Credit
          </li>
          <li nz-menu-item (click)="selectAction('uploadCreditNote')">
            Upload Credit Note
          </li>
        </ul>
      </nz-dropdown-menu>

      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li
            nzTriggerSubMenuAction="click"
            nz-submenu
            nzTitle="Reclassify Return to Buyer’s Remorse"
          >
            <ul nz-menu>
              <li nz-menu-item (click)="selectAction('returnDelivered')">
                Approve Credit
              </li>
              <li nz-menu-item (click)="selectAction('uploadCreditNote')">
                Upload Credit Note
              </li>
            </ul>
          </li>
          <li nz-menu-item (click)="selectAction('appReportCarrierDamage')">
            Report Carrier Damage
          </li>
          <li
            nz-menu-item
            (click)="markAsLost(data?.po_no)"
            *ngFor="let data of listOfData"
          >
            Return not received – Mark as Lost
          </li>
        </ul>
      </nz-dropdown-menu>
    </tbody>
  </nz-table>

  <!-- sidebar -->
  <div #mySidenav class="filter-section">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
      >&times;</a
    >
    <form nz-form [formGroup]="filter" style="padding-bottom: 10px">
      <div class="filter-content">
        <nz-divider nzText="Date" nzOrientation="left"></nz-divider>
        <nz-range-picker
          [nzPlaceHolder]="['From Date', 'To Date']"
          [nzFormat]="AppDateFormate"
          formControlName="date"
          (ngModelChange)="change(filter.value.date ? $event : '', 'date')"
        ></nz-range-picker>

        <nz-divider
          style="margin-top: 20px"
          nzText="Return Classification"
          nzOrientation="left"
        ></nz-divider>
        <nz-select
          nzAllowClear
          nzPlaceHolder="Select Return Classification"
          (ngModelChange)="
            change(
              filter.value.returnClassification ? $event : '',
              'returnClassification'
            )
          "
          formControlName="returnClassification"
        >
          <nz-option
            *ngFor="let option of filterReturnClassificationOptions"
            [nzLabel]="option"
            [nzValue]="option"
          ></nz-option>
        </nz-select>

        <div *ngIf="tabName === 'carrierClaims' || tabName === 'all'">
          <nz-divider
            style="margin-top: 20px"
            nzText="Status"
            nzOrientation="left"
          ></nz-divider>
          <nz-select
            nzAllowClear
            nzPlaceHolder="Select A Status"
            (ngModelChange)="
              change(filter.value.status ? $event : '', 'status')
            "
            formControlName="status"
          >
            <nz-option
              *ngFor="let status of filterStatusOptions"
              [nzLabel]="status"
              [nzValue]="status"
            ></nz-option>
          </nz-select>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Add Ra Modal -->
<nz-modal
  [(nzVisible)]="addRaVisible"
  nzTitle="Add RA #"
  (nzOnCancel)="addRaVisible = false"
>
  <ng-container *nzModalContent>
    <app-add-ra (close)="addRaVisible = false"></app-add-ra
  ></ng-container>
</nz-modal>

<!-- Return Clarification modal-->
<nz-modal
  [(nzVisible)]="ReturnClarification"
  [nzTitle]="'Return Clarification (Return# ' + 123 + ')'"
  (nzOnCancel)="ReturnClarification = false"
>
  <ng-container *nzModalContent>
    <app-po-clarification
      [poNo]="'123'"
      (close)="ReturnClarification = false"
    ></app-po-clarification>
  </ng-container>
</nz-modal>

<!-- Approve credit Modal -->
<nz-modal
  [(nzVisible)]="approveCreditModelVisible"
  nzTitle="Approve Credit"
  (nzOnCancel)="approveCreditModelVisible = false"
>
  <ng-container *nzModalContent>
    <app-approve-credit
      (closeModal)="approveCreditModelVisible = false"
    ></app-approve-credit>
  </ng-container>
</nz-modal>

<!-- Upload Credit Note Modal -->
<nz-modal
  [(nzVisible)]="uploadCreditNoteModalVisible"
  nzTitle="Upload Credit Note"
  (nzOnCancel)="uploadCreditNoteModalVisible = false"
>
  <ng-container *nzModalContent>
    <app-upload-credit-note
      (closeModal)="uploadCreditNoteModalVisible = false"
    ></app-upload-credit-note>
  </ng-container>
</nz-modal>

<!-- App Report Carrier Damage Modal -->
<nz-modal
  [(nzVisible)]="appReportCarrierDamageModalVisible"
  nzTitle="Report Carrier Damage"
  (nzOnCancel)="appReportCarrierDamageModalVisible = false"
>
  <ng-container *nzModalContent>
    <app-report-carrier-damage
      (closeModal)="appReportCarrierDamageModalVisible = false"
    ></app-report-carrier-damage>
  </ng-container>
</nz-modal>

<!-- Export modal -->
<nz-modal
  [(nzVisible)]="isExportVisible"
  nzTitle="Which Returns Details would you like to export?"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <app-export-model
      [exportType]="false"
      [sectionName]="'return'"
      [description]="
        'Your Returns Details will be exported as a CSV file and sent to your email.'
      "
      [listOfFilter]="listOfFilter"
      [noOfFilter]="total"
      (close)="handleCancel()"
    ></app-export-model>
  </ng-container>
</nz-modal>
