<div class="plans">
  <app-section-header [header]="'Membership'"></app-section-header>

  <div class="body-section">
    <div nz-row [nzGutter]="16">
      <div nz-col class="gutter-row" [nzLg]="6" [nzXs]="24">
        <div class="card">
          <span
            nz-icon
            nzType="star"
            class="star"
            style="color: #1890ff"
            nzTheme="outline"
          ></span>
          <div class="card-title">
            <span>Basic</span>
          </div>
          <h4>Free<span style="line-height: 3">/month</span></h4>
          <button nz-button nzType="default">Select Plans</button>
          <ul>
            <li>
              <span nz-icon nzType="check-circle" nzTheme="twotone"></span>
              Plan cost $0.
            </li>
            <li>
              <span nz-icon nzType="check-circle" nzTheme="twotone"></span>
              100 free product listings included.
            </li>
            <li>
              <span nz-icon nzType="check-circle" nzTheme="twotone"></span>
              123Stores Decides Retail Price.
            </li>
          </ul>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzLg]="6" [nzXs]="24">
        <div class="card">
          <span
            nz-icon
            nzType="star"
            class="star"
            style="color: #096dd9"
            nzTheme="outline"
          ></span>
          <div class="card-title">
            <span>Plus</span>
          </div>
          <h4>
            <span style="line-height: 1">$</span>250<span style="line-height: 3"
              >/month</span
            >
          </h4>
          <button nz-button nzType="default">Select Plans</button>
          <ul>
            <li>
              <span nz-icon nzType="check-circle" nzTheme="twotone"></span>
              Plan cost greater of $250 or 6% of sales.
            </li>
            <li>
              <span nz-icon nzType="check-circle" nzTheme="twotone"></span>
              500 free product listings included.
            </li>
            <li>
              <span nz-icon nzType="check-circle" nzTheme="twotone"></span>
              You Decide Retail Price.
            </li>
          </ul>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzLg]="6" [nzXs]="24">
        <div class="card">
          <span
            nz-icon
            nzType="star"
            class="star"
            style="color: #faad14"
            nzTheme="outline"
          ></span>
          <div class="card-title">
            <span>Premium</span>
          </div>
          <h4>
            <span style="line-height: 1">$</span>500<span style="line-height: 3"
              >/month</span
            >
          </h4>
          <button nz-button nzType="default">Select Plans</button>
          <ul>
            <li>
              <span nz-icon nzType="check-circle" nzTheme="twotone"></span>
              Plan cost greater of $500 or 5% of sales.
            </li>
            <li>
              <span nz-icon nzType="check-circle" nzTheme="twotone"></span>
              1000 free product listings included.
            </li>
            <li>
              <span nz-icon nzType="check-circle" nzTheme="twotone"></span>
              You Decide Retail Price.
            </li>
          </ul>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzLg]="6" [nzXs]="24">
        <div class="card">
          <span
            nz-icon
            nzType="star"
            class="star"
            style="color: #fae014"
            nzTheme="outline"
          ></span>
          <div class="card-title">
            <span>Enterprise</span>
          </div>
          <h4>
            <span style="line-height: 1">$</span>1000<span
              style="line-height: 3"
              >/month</span
            >
          </h4>
          <button nz-button nzType="default">Select Plans</button>
          <ul>
            <li>
              <span nz-icon nzType="check-circle" nzTheme="twotone"></span>
              Plan cost greater of $1000 or 4% of sales.
            </li>
            <li>
              <span nz-icon nzType="check-circle" nzTheme="twotone"></span>
              2500 free product listings included.
            </li>
            <li>
              <span nz-icon nzType="check-circle" nzTheme="twotone"></span>
              You Decide Retail Price.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
