@import "../../../../assets/variable/variable.scss";

.plans {
  border: 0 solid rgba(0, 0, 0, 0.125);
  background-color: $white;
  background-clip: border-box;
  border-radius: 5px;

  .body-section {
    padding: 16px 5%;

    .gutter-row {
      margin: 5px 0;
    }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: start;
      padding: 20px 20px;
      border: 1px solid $lightgrey;
      border-radius: 10px;
      height: 100%;

      &-title {
        font-weight: 500;
        font-size: 26px;
        color: #1890ff;
        justify-content: flex-start;
        display: flex;
        margin-bottom: 28px;
      }

      &-subtitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 72px;
        justify-content: center;
        @media screen and (max-width: 1894px) {
          min-height: 108px;
        }

        h4 {
          margin-bottom: 0px;
          font-weight: 500;
          line-height: 36px;
          display: flex;
          text-align: center;
        }
        .small-title {
          font-size: 38px;
        }
        .big-title {
          font-size: 57px;
        }
        .big-title + span {
          text-align: center;
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 39px;
        justify-content: space-between;
        ul {
          padding: 0;
          margin-bottom: 0;
          text-align: start;

          li {
            padding-left: 0;
            list-style: none;
            font-size: 14px;
            margin-bottom: 0.625rem;
            display: flex;
            align-items: start;
            .anticon {
              margin-right: 12px;
              margin-top: 4px;
              font-size: 14px;
              color: #2121c3;
            }
          }
        }
      }

      &-actions {
        margin: 24px 0 32px 0;
      }

      &-footer-content {
        font-size: 14px;
        text-align: left;
        display: flex;
        @media screen and (max-width: 2447px) {
          min-height: 44px;
        }
        @media screen and (max-width: 1470px) {
          min-height: 66px;
        }
        @media screen and (max-width: 1162px) {
          min-height: 83px;
        }
        @media screen and (max-width: 1148px) {
          min-height: 105px;
        }
        @media screen and (max-width: 991px) {
          min-height: 0;
        }
      }

      button {
        width: 100%;
        height: 40px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 3px;
        white-space: break-spaces;
        height: 100%;
      }

      .button-outlined {
        background: white !important;
        color: #2121c3 !important;
        border: 1px solid darkBlue !important;
      }
    }
  }

  .notes {
    padding-top: 16px;
    ol {
      padding-left: 16px;
    }
  }
}
