<div class="payment-table">
  <div class="action">
    <div style="display: flex">
      <nz-badge
        style="margin-right: 10px"
        [nzShowZero]="false"
        [nzCount]="badgeTotal"
        *ngIf="tabName !== 'transactionView'"
      >
        <button (click)="openNav()" nz-button nzType="primary" nzShape="round">
          <span nz-icon nzType="filter" nzTheme="outline"></span>
          Filter
        </button>
      </nz-badge>
      <button
        style="margin-right: 10px"
        nz-button
        nzType="primary"
        nzShape="round"
        (click)="isExportVisible = true"
      >
        <span nz-icon nzType="upload" nzTheme="outline"></span> Export
      </button>
      <form nz-form [formGroup]="searchForm">
        <nz-form-item style="margin-bottom: 0 !important">
          <nz-form-control nzErrorTip="Please input your valid code!">
            <nz-input-group nzPrefixIcon="search" class="search">
              <input
                (keyup)="accountSearch.next($event)"
                formControlName="search"
                nz-input
                placeholder="Search..."
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>

  <!-- chip -->
  <div *ngIf="clear_btn && badgeTotal !== 0" class="tag-section">
    <nz-tag
      *ngIf="selectInvoiceDate"
      nzMode="closeable"
      (nzOnClose)="close('invoiceDate')"
      >{{ selectInvoiceDate[0] | customDate }} To
      {{ selectInvoiceDate[1] | customDate }}</nz-tag
    >
    <nz-tag
      *ngIf="selectRemittanceDate"
      nzMode="closeable"
      (nzOnClose)="close('remittanceDate')"
      >{{ selectRemittanceDate[0] | customDate }} To
      {{ selectRemittanceDate[1] | customDate }}</nz-tag
    >
    <nz-tag *ngIf="selectType" nzMode="closeable" (nzOnClose)="close('type')">{{
      selectType
    }}</nz-tag>
    <nz-tag *ngIf="dueDate" nzMode="closeable" (nzOnClose)="close('dueDate')">{{
      dueDate | customDate
    }}</nz-tag>

    <button
      *ngIf="badgeTotal >= 1"
      nz-button
      nzType="default"
      (click)="tagFunction()"
      style="
        float: none;
        background-color: white;
        color: #1221c3;
        border: 1px solid #1221c3;
      "
      class="action-button clear-btn"
    >
      clear
    </button>
  </div>

  <!-- Table -->
  <nz-table
    #nzTable
    nzOuterBordered
    [nzData]="listOfData"
    nzShowSizeChanger
    [nzPageSizeOptions]="pageSizeOptions"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzShowTotal]="totalTemplate"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzLoading]="isLoading"
    [nzScroll]="{ x: '100%' }"
    (nzPageIndexChange)="onPageIndexChange($event)"
  >
    <thead>
      <tr>
        <th *ngIf="tabName === 'transactionView' || tabName === 'openBalances'">
          Invoice #
        </th>
        <th *ngIf="tabName === 'transactionView' || tabName === 'openBalances'">
          PO #
        </th>
        <th *ngIf="tabName === 'transactionView' || tabName === 'openBalances'">
          Type
        </th>
        <th *ngIf="tabName === 'transactionView' || tabName === 'openBalances'">
          Invoice Date
        </th>
        <th *ngIf="tabName === 'transactionView' || tabName === 'openBalances'">
          Due Date
        </th>
        <th *ngIf="tabName === 'transactionView' || tabName === 'openBalances'">
          Invoice Amount
        </th>
        <th *ngIf="tabName === 'transactionView' || tabName === 'openBalances'">
          Adjustment Amount
        </th>
        <th *ngIf="tabName === 'transactionView'">Paid Amount</th>
        <th *ngIf="tabName === 'transactionView' || tabName === 'openBalances'">
          Due Amount
        </th>
        <th
          *ngIf="tabName === 'transactionView' || tabName === 'pastRemittances'"
          style="white-space: nowrap"
        >
          Remittance #
        </th>
        <th
          *ngIf="tabName === 'transactionView' || tabName === 'pastRemittances'"
        >
          Remittance Date
        </th>
        <th *ngIf="tabName === 'transactionView' || tabName === 'openBalances'">
          Remarks
        </th>
        <th *ngIf="tabName === 'pastRemittances'">No. Of Item(s)</th>
        <th *ngIf="tabName === 'pastRemittances'">Remittance Amount</th>
        <th nzRight class="action-column" *ngIf="tabName === 'pastRemittances'">
          <div>Actions</div>
        </th>
      </tr>
    </thead>

    <tbody>
      <ng-template ngFor let-data [ngForOf]="listOfData">
        <tr>
          <td
            *ngIf="tabName === 'transactionView' || tabName === 'openBalances'"
            style="white-space: nowrap"
          >
            <a
              style="color: #1221c3"
              [routerLink]="
                (tabName === 'openBalances'
                  ? 'open-balances'
                  : 'transaction-view') +
                '/invoice-details/' +
                data?.invoice_no
              "
            >
              <u
                ><b>{{ data?.invoice_no }}</b></u
              >
            </a>
          </td>
          <td
            *ngIf="tabName === 'transactionView' || tabName === 'openBalances'"
            style="white-space: nowrap"
          >
            <a
              style="color: #1221c3"
              [routerLink]="
                (tabName === 'openBalances'
                  ? 'open-balances'
                  : 'transaction-view') +
                '/po-details/' +
                data?.po_no
              "
            >
              <u
                ><b>{{ data.po_no }}</b></u
              >
            </a>
          </td>
          <td
            *ngIf="tabName === 'transactionView' || tabName === 'openBalances'"
            style="white-space: nowrap"
          >
            {{ data?.type }}
          </td>
          <td
            *ngIf="tabName === 'transactionView' || tabName === 'openBalances'"
          >
            <span style="white-space: nowrap">{{
              data?.invoice_date ? (data?.invoice_date | customDate) : ""
            }}</span>
          </td>
          <td
            *ngIf="tabName === 'transactionView' || tabName === 'openBalances'"
          >
            <span style="white-space: nowrap">{{
              data?.due_date ? (data?.due_date | customDate) : ""
            }}</span>
          </td>
          <td
            *ngIf="tabName === 'transactionView' || tabName === 'openBalances'"
            style="white-space: nowrap"
          >
            {{ data?.invoice_amount | currency }}
          </td>
          <td
            *ngIf="tabName === 'transactionView' || tabName === 'openBalances'"
            style="white-space: nowrap"
          >
            {{ data?.adjustment_amount | currency }}
          </td>
          <td *ngIf="tabName === 'transactionView'" style="white-space: nowrap">
            {{ data?.paid_amount | currency }}
          </td>
          <td
            *ngIf="tabName === 'transactionView' || tabName === 'openBalances'"
            style="white-space: nowrap"
          >
            {{ data?.due_amount | currency }}
          </td>
          <td
            *ngIf="
              tabName === 'transactionView' || tabName === 'pastRemittances'
            "
            style="white-space: nowrap"
          >
            {{ data?.remittance_no }}
          </td>
          <td
            *ngIf="
              tabName === 'transactionView' || tabName === 'pastRemittances'
            "
          >
            <span style="white-space: nowrap">{{
              data?.remittance_date ? (data?.remittance_date | customDate) : ""
            }}</span>
          </td>
          <td
            *ngIf="tabName === 'transactionView' || tabName === 'openBalances'"
          >
            {{ data?.remarks }}
          </td>
          <!-- For last tab -->
          <td *ngIf="tabName === 'pastRemittances'">{{ data?.no_of_items }}</td>

          <td *ngIf="tabName === 'pastRemittances'">
            {{ data?.remittance_amount | currency }}
          </td>
          <td nzRight *ngIf="tabName === 'pastRemittances'">
            <div style="text-align: center">
              <span
                nz-icon
                nzType="download"
                nzTheme="outline"
                style="cursor: pointer; font-size: 18px; color: #2121c3"
                (click)="onDownload(data?.remittance_no)"
              ></span>
            </div>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>

  <ng-template #totalTemplate let-total
    >Total <b>{{ total }}</b> items</ng-template
  >

  <!-- side bar filter -->
  <div #mySidenav class="filter-section">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
      >&times;</a
    >
    <form nz-form [formGroup]="filter" style="padding-bottom: 10px">
      <div class="filter-content">
        <div *ngIf="tabName === 'openBalances'">
          <nz-divider nzText="Invoice Date" nzOrientation="left"></nz-divider>
          <nz-range-picker
            formControlName="invoiceDate"
            [nzFormat]="appDateFormate"
            (ngModelChange)="
              change(filter.value.invoiceDate ? $event : '', 'invoiceDate')
            "
          ></nz-range-picker>

          <nz-divider
            nzText="Type"
            nzOrientation="left"
            style="margin-top: 20px"
          ></nz-divider>
          <nz-select
            nzAllowClear
            nzPlaceHolder="Select A Type"
            (ngModelChange)="change(filter.value.type ? $event : '', 'type')"
            formControlName="type"
          >
            <nz-option nzLabel="Credit Note" nzValue="Credit Note"></nz-option>
            <nz-option nzLabel="Invoice" nzValue="Invoice"></nz-option>
          </nz-select>

          <nz-divider
            nzText="Due Date"
            nzOrientation="left"
            style="margin-top: 20px"
          ></nz-divider>
          <nz-date-picker
            formControlName="dueDate"
            [nzFormat]="appDateFormate"
            (ngModelChange)="
              change(filter.value.dueDate ? $event : '', 'dueDate')
            "
            style="width: 100%"
          ></nz-date-picker>
        </div>

        <div *ngIf="tabName === 'pastRemittances'">
          <nz-divider
            nzText="Remittance Date"
            nzOrientation="left"
          ></nz-divider>
          <nz-range-picker
            formControlName="remittanceDate"
            (ngModelChange)="
              change(
                filter.value.remittanceDate ? $event : '',
                'remittanceDate'
              )
            "
          ></nz-range-picker>
        </div>
      </div>
    </form>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isExportVisible"
  nzTitle="Which paymets would you like to export?"
  (nzOnCancel)="isExportVisible = false"
>
  <ng-container *nzModalContent>
    <app-export-model
      [exportType]="tabName === 'transactionView'"
      [sectionName]="tabName"
      [description]="
        'Your paymets will be exported as a CSV file and sent to your email.'
      "
      [listOfFilter]="listOfFilter"
      [noOfFilter]="total"
      (close)="isExportVisible = false"
      [showFilterOptions]="tabName !== 'transactionView'"
      [isFilterApplied]="badgeTotal > 0"
      [isSearchApplied]="search_term !== ''"
    ></app-export-model>
  </ng-container>
</nz-modal>
