<div class="payment-table">
  <nz-table
    #nzTable
    nzOuterBordered
    [nzData]="listOfData"
    nzShowSizeChanger
    [nzPageSizeOptions]="pageSizeOptions"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzShowTotal]="totalTemplate"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzLoading]="isLoading"
    [nzScroll]="{ x: '100%' }"
    (nzPageIndexChange)="onPageIndexChange($event)"
  >
    <thead>
      <tr>
        <th>Invoice #</th>
        <th>PO #</th>
        <th>Type</th>
        <th>Invoice Date</th>
        <th>Due Date</th>
        <th>Invoice Amount</th>
        <th>Adjustment Amount</th>
        <th>Paid Amount</th>
        <th>Due Amount</th>
        <th>Remittance #</th>
        <th>Remittance Date</th>
        <th>Remarks</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="listOfData">
        <tr>
          <td style="white-space: nowrap">
            <a
              style="color: #1221c3"
              [routerLink]="'invoice-details/' + data?.invoice_no"
            >
              <u
                ><b>{{ data?.invoice_no }}</b></u
              ></a
            >
          </td>
          <td style="white-space: nowrap">
            <a
              style="color: #1221c3"
              [routerLink]="'po-details/' + data?.po_no"
            >
              <u
                ><b>{{ data.po_no }}</b></u
              ></a
            >
          </td>
          <td style="white-space: nowrap">{{ data?.type }}</td>
          <td>
            <span style="white-space: nowrap">
              {{ data?.invoice_date ? (data?.invoice_date | customDate) : "" }}
            </span>
          </td>

          <td>
            <span style="white-space: nowrap">
              {{ data?.due_date ? (data?.due_date | customDate) : "" }}
            </span>
          </td>

          <td style="white-space: nowrap">
            {{ data?.invoice_amount | currency }}
          </td>
          <td style="white-space: nowrap">
            {{ data?.adjustment_amount | currency }}
          </td>
          <td style="white-space: nowrap">
            {{ data?.paid_amount | currency }}
          </td>
          <td style="white-space: nowrap">{{ data?.due_amount | currency }}</td>
          <td style="white-space: nowrap">
            <a style="color: #1221c3">
              <u
                ><b>{{ data?.remittance_no }}</b></u
              ></a
            >
          </td>

          <td>
            <span style="white-space: nowrap">
              {{
                data?.remittance_date
                  ? (data?.remittance_date | customDate)
                  : ""
              }}
            </span>
          </td>

          <td>{{ data?.remarks }}</td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
  <ng-template #totalTemplate let-total
    >Total <b>{{ total }}</b> items</ng-template
  >
</div>
