<div class="ship-out-location-section">
  <div class="section-header">
    <div class="tab-header">
      <span>SHIP-OUT LOCATION</span>
      <button
        nz-button
        nzType="default"
        class="reset-button"
        (click)="goBack()"
      >
        <span nz-icon nzType="arrow-left" nzTheme="outline"></span> Back
      </button>
    </div>
  </div>

  <div class="body-section" style="margin-left: 0; margin-right: 0">
    <div *ngIf="showSection === section?.TABLE" class="table-section container">
      <div class="header-action-button">
        <span style="width: 188px"></span>
        <nz-radio-group
          [formControl]="formTypes"
          nzButtonStyle="solid"
          (ngModelChange)="changeFormType($event)"
        >
          <label nz-radio-button nzValue="active">Active Locations</label>
          <label nz-radio-button nzValue="in-active">In-Active Locations</label>
        </nz-radio-group>
        <button
          nz-button
          nzType="primary"
          style="display: block"
          (click)="addAction()"
        >
          <span nz-icon nzType="plus" nzTheme="outline"></span>
          Add Ship Out Locations
        </button>
      </div>
      <div *ngFor="let item of shipOutLocationList" style="margin-bottom: 28px">
        <div nz-row>
          <div nz-col [nzXs]="{ span: 19 }" [nzLg]="{ span: 21 }">
            <div class="row-section" nz-row>
              <div
                *ngFor="let row of objectKeys(labelList)"
                class="col-section border-top"
                [ngClass]="{
                  'border-bottom':
                    row[0] === 'state' || row[0] === 'phoneNumberExtension'
                }"
                nz-col
                nzSpan="12"
              >
                <div
                  class="d-flex align-items-center border-left"
                  style="padding: 6px 0.5rem; min-width: 135px"
                >
                  <strong>{{ row[1] }}</strong>
                </div>
                <div
                  class="d-flex align-items-center"
                  style="
                    padding: 6px 16px;
                    width: 100%;
                    border-left: 1px solid #dee2e6;
                  "
                >
                  {{ item[row[0]] }}
                </div>
              </div>
            </div>
          </div>
          <div class="actions" nz-col [nzXs]="{ span: 5 }" [nzLg]="{ span: 3 }">
            <div class="d-flex gap-2">
              <a
                nzTooltipTitle="Edit"
                nzTooltipPlacement="top"
                nz-tooltip
                style="margin: 0 5px; color: #2121c3; font-size: large"
                (click)="editAction(item)"
                *ngIf="formTypes.value === 'active'"
              >
                <span nz-icon nzType="edit" nzTheme="outline"></span>
              </a>
              <span *ngIf="formTypes.value === 'active'">|</span>
              <a
                nzTooltipTitle="Deactivate"
                nzTooltipPlacement="top"
                nz-tooltip
                style="margin: 0 5px; color: red"
                (click)="changeStatus(item)"
                *ngIf="formTypes.value === 'active'"
              >
                Deactivate
              </a>
              <a
                nzTooltipTitle="Activate"
                nzTooltipPlacement="top"
                nz-tooltip
                style="margin: 0 5px; color: #37b837"
                (click)="changeStatus(item)"
                *ngIf="formTypes.value === 'in-active'"
              >
                Activate
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showSection === section?.FORM" class="form-section container">
      <div class="section-header" style="margin-top: 0">
        <div
          class="tab-header justify-content-center"
          style="border-bottom: 0px; padding: 0px"
        >
          <span>{{ formTitle }} Ship Out Locations</span>
        </div>
      </div>
      <form [formGroup]="shipOutLocationForm">
        <nz-form-item *ngIf="formFieldOnUI?.internalCode">
          <nz-form-label class="label-section"
            >Internal Code <span style="color: red">*</span></nz-form-label
          >
          <nz-form-control
            class="input-section"
            [nzErrorTip]="internalCodeError"
          >
            <nz-input-group class="medium-input">
              <input
                type="text"
                nz-input
                placeholder="Enter Internal Code"
                formControlName="internalCode"
              />
              <ng-template #internalCodeError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Internal code is required<br
                /></ng-container>
                <ng-container *ngIf="control.hasError('minlength')"
                  >Internal code can only be 23 digits<br
                /></ng-container>
                <ng-container *ngIf="control.hasError('maxlength')"
                  >Internal code can only be 23 digits<br
                /></ng-container>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="formFieldOnUI?.externalCode">
          <nz-form-label class="label-section"
            >External Code <span style="color: red">*</span></nz-form-label
          >
          <nz-form-control
            class="input-section"
            [nzErrorTip]="externalCodeError"
          >
            <nz-input-group class="medium-input">
              <input
                type="text"
                nz-input
                placeholder="Enter External Code"
                formControlName="externalCode"
              />
              <ng-template #externalCodeError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >External code is required<br
                /></ng-container>
                <ng-container *ngIf="control.hasError('maxlength')"
                  >External code can only be between 1 & 100<br
                /></ng-container>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="formFieldOnUI?.addressLine1">
          <nz-form-label class="label-section"
            >Address Line1 <span style="color: red">*</span></nz-form-label
          >
          <nz-form-control
            class="input-section"
            [nzErrorTip]="addressLine1Error"
          >
            <nz-input-group class="large-input">
              <input
                type="text"
                nz-input
                placeholder="Enter Address Line1"
                formControlName="addressLine1"
              />
              <ng-template #addressLine1Error let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Address line 1 is required<br
                /></ng-container>
                <ng-container *ngIf="control.hasError('maxlength')"
                  >Address line 1 can only be between 1 & 255<br
                /></ng-container>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="formFieldOnUI?.addressLine2">
          <nz-form-label class="label-section">Address Line2 </nz-form-label>
          <nz-form-control
            class="input-section"
            [nzErrorTip]="addressLine2Error"
          >
            <nz-input-group class="large-input">
              <input
                type="text"
                nz-input
                placeholder="Enter Address Line2
"
                formControlName="addressLine2"
              />
              <ng-template #addressLine2Error let-control>
                <ng-container *ngIf="control.hasError('maxlength')"
                  >Address line 2 can only be between 1 & 255<br
                /></ng-container>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="formFieldOnUI?.city">
          <nz-form-label class="label-section"
            >City <span style="color: red">*</span></nz-form-label
          >
          <nz-form-control class="input-section" [nzErrorTip]="cityError">
            <nz-input-group class="small-input">
              <input
                type="text"
                nz-input
                placeholder="Enter City"
                formControlName="city"
              />
              <ng-template #cityError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >City is required<br
                /></ng-container>
                <ng-container *ngIf="control.hasError('maxlength')"
                  >City can only be between 1 & 100<br
                /></ng-container>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="formFieldOnUI?.state">
          <nz-form-label class="label-section"
            >State <span style="color: red">*</span></nz-form-label
          >
          <nz-form-control class="input-section" [nzErrorTip]="stateError">
            <nz-input-group class="medium-input">
              <nz-select
                nzShowSearch
                nzPlaceHolder="Select State"
                formControlName="state"
                (ngModelChange)="changeState()"
              >
                <nz-option-group nzLabel="United State">
                  <nz-option
                    *ngFor="let option of usStates"
                    [nzLabel]="option.label"
                    [nzValue]="option.value"
                  ></nz-option>
                </nz-option-group>
              </nz-select>
              <ng-template #stateError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >State is required<br
                /></ng-container>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="formFieldOnUI?.zipCode">
          <nz-form-label class="label-section"
            >Zip Code <span style="color: red">*</span></nz-form-label
          >
          <nz-form-control class="input-section" [nzErrorTip]="zipCodeError">
            <nz-input-group class="small-input">
              <input
                type="text"
                nz-input
                placeholder="Enter Zip Code"
                formControlName="zipCode"
              />
              <ng-template #zipCodeError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Zip code is required<br
                /></ng-container>
                <ng-container *ngIf="control.hasError('maxlength')"
                  >Zip code can only be between 1 & 10<br
                /></ng-container>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="formFieldOnUI?.country">
          <nz-form-label class="label-section"
            >Country <span style="color: red">*</span></nz-form-label
          >
          <nz-form-control class="input-section" [nzErrorTip]="countryError">
            <nz-input-group class="small-input">
              <nz-select
                nzShowSearch
                nzPlaceHolder="Select Country"
                formControlName="country"
              >
                <nz-option nzLabel="US" nzValue="US"></nz-option>
              </nz-select>
              <ng-template #countryError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Country is required<br
                /></ng-container>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="formFieldOnUI?.timeZone">
          <nz-form-label class="label-section"
            >Time Zone <span style="color: red">*</span></nz-form-label
          >
          <nz-form-control class="input-section" [nzErrorTip]="timeZoneError">
            <nz-input-group class="small-input">
              <nz-select
                nzShowSearch
                nzPlaceHolder="Select Time Zone"
                formControlName="timeZone"
              >
                <nz-option
                  *ngFor="let option of timeZone"
                  [nzLabel]="option.name"
                  [nzValue]="option.value"
                ></nz-option>
              </nz-select>
              <ng-template #timeZoneError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Time zone is required<br
                /></ng-container>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="formFieldOnUI?.cutOffTime">
          <nz-form-label class="label-section"
            >Cut Off Time <span style="color: red">*</span></nz-form-label
          >
          <nz-form-control class="input-section" [nzErrorTip]="cutOffTimeError">
            <nz-input-group class="small-input">
              <nz-time-picker
                formControlName="cutOffTime"
                [nzFormat]="'HH:mm:ss'"
              ></nz-time-picker>
              <ng-template #cutOffTimeError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Cut off time is required<br
                /></ng-container>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="formFieldOnUI?.contactName">
          <nz-form-label class="label-section"
            >Contact Name <span style="color: red">*</span></nz-form-label
          >
          <nz-form-control
            class="input-section"
            [nzErrorTip]="contactNameError"
          >
            <nz-input-group class="small-input">
              <input
                type="text"
                nz-input
                placeholder="Enter Contact Name"
                formControlName="contactName"
              />
              <ng-template #contactNameError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Contact name is required<br
                /></ng-container>
                <ng-container *ngIf="control.hasError('maxlength')"
                  >Contact name only be between 1 & 30<br
                /></ng-container>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="formFieldOnUI?.phoneNumber">
          <nz-form-label class="label-section"
            >Phone Number <span style="color: red">*</span></nz-form-label
          >
          <nz-form-control
            class="input-section"
            [nzErrorTip]="phoneNumberError"
          >
            <nz-input-group class="small-input">
              <input
                type="text"
                nz-input
                placeholder="Enter Phone Number"
                formControlName="phoneNumber"
                (input)="phoneInputField()"
              />
              <ng-template #phoneNumberError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Phone number is required<br
                /></ng-container>
                <ng-container *ngIf="control.hasError('minlength')"
                  >Phone number can only be 10 digits<br
                /></ng-container>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="formFieldOnUI?.phoneNumberExtension">
          <nz-form-label class="label-section"
            >Phone Number Extension</nz-form-label
          >
          <nz-form-control
            class="input-section"
            [nzErrorTip]="phoneNumberExtensionError"
          >
            <nz-input-group class="small-input">
              <input
                type="text"
                nz-input
                placeholder="Enter Return Phone Number Extension"
                formControlName="phoneNumberExtension"
              />
              <ng-template #phoneNumberExtensionError let-control>
                <ng-container *ngIf="control.hasError('minlength')"
                  >Phone number extension can only be between 1 & 5<br
                /></ng-container>
                <ng-container *ngIf="control.hasError('maxlength')"
                  >Phone number extension can only be between 1 & 5<br
                /></ng-container>
                <ng-container *ngIf="control.hasError('pattern')"
                  >Phone number extension can only number<br
                /></ng-container>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <div class="footer-section">
          <button
            nz-button
            nzType="default"
            class="reset-button"
            (click)="reset()"
          >
            <span nz-icon nzType="reload" nzTheme="outline"></span> Reset
          </button>
          <button
            nz-button
            style="margin-top: 0"
            class="action-button"
            [nzType]="'primary'"
            (click)="submitForm()"
          >
            <span
              *ngIf="isLoading"
              style="color: white; font-size: 16px"
              nz-icon
              nzType="loading"
            ></span>
            <span
              *ngIf="!isLoading"
              nz-icon
              nzType="file-text"
              nzTheme="outline"
            ></span>
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
