.open-balance-section {
  // for express pay out button
  .payout-button {
    margin-left: 10px;
    background-color: #ffc43a !important;
    border-color: #ffc43a !important;
    color: black !important;
    font-weight: 600;
  }
}
