<div class="open-balance-section">
  <div>
    Total Outstanding Balance: <strong>{{ 20012.12 | currency }}</strong>
  </div>

  <!-- Table componets -->
  <app-payment-table
    [listOfData]="openBalancesDataList"
    [total]="total"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [isLoading]="isLoading"
    [tabName]="'openBalances'"
    (pageChange)="pageIndexChange($event)"
    (searchChange)="searchDataChanges($event)"
    (filterChange)="filterDataChanges($event)"
  ></app-payment-table>
</div>
