@import "../../../../../../../assets/variable/variable.scss";

.return-approve {
  .model-section {
    padding: 24px;
    padding-bottom: 0px;

    form {
      width: 100%;
      padding: 0 2px;

      nz-form-label {
        font-size: 16px !important;
        font-weight: 700 !important;
        padding-bottom: 2px;
      }

      :host ::ng-deep .avatar-uploader > .ant-upload {
        width: 128px;
        height: 128px;
      }
    }
  }
}
