<div class="remittance-section">
  <div>
    Total Remittance (Last 30 Days): <strong>{{ 12012.12 | currency }}</strong>
  </div>

  <!-- Table componets -->
  <app-payment-table
    [listOfData]="pastRemittancesDataList"
    [total]="total"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [isLoading]="isLoading"
    [tabName]="'pastRemittances'"
    (pageChange)="pageIndexChange($event)"
    (searchChange)="searchDataChanges($event)"
    (filterChange)="filterDataChanges($event)"
  ></app-payment-table>
</div>
