<div class="filter-section">
  <a href="javascript:void(0)" class="closebtn" (click)="closeSideBar()"
    >&times;</a
  >
  <div class="filter-content">
    <!-- Range Date -->
    <nz-divider
      style="margin-top: 20px"
      nzText="PO Date"
      nzOrientation="left"
    ></nz-divider>
    <nz-range-picker
      [(ngModel)]="rangeDate"
      [nzFormat]="appDateFormate"
      (ngModelChange)="changeValue(rangeDate ? $event : '', 'rangeDate')"
    ></nz-range-picker>

    <nz-divider nzText="Ship Out Locations" nzOrientation="left"></nz-divider>
    <nz-select
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select A Location"
      [(ngModel)]="shipOutLocation"
      (ngModelChange)="
        changeValue(shipOutLocation ? $event : '', 'shipOutLocation')
      "
    >
      <nz-option
        *ngFor="let item of listOfShipOutLocation"
        [nzLabel]="item"
        [nzValue]="item"
      ></nz-option>
    </nz-select>

    <!-- All Status -->
    <nz-divider
      *ngIf="tabName === 'allOrders'"
      style="margin-top: 20px"
      nzText="PO Status"
      nzOrientation="left"
    ></nz-divider>

    <nz-select
      *ngIf="tabName === 'allOrders'"
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select A status"
      [(ngModel)]="remarkStatus"
      (ngModelChange)="changeValue(remarkStatus ? $event : '', 'remarkStatus')"
    >
      <nz-option nzLabel="New" nzValue="New"></nz-option>
      <nz-option
        nzLabel="Shipment Pending"
        nzValue="Shipment Pending"
      ></nz-option>
      <nz-option
        nzLabel="Buyer Cancellation Requested"
        nzValue="Buyer Cancellation Requested"
      ></nz-option>
      <nz-option
        nzLabel="Pending Invoice"
        nzValue="Pending Invoice"
      ></nz-option>
      <nz-option nzLabel="In Transit" nzValue="In Transit"></nz-option>
      <nz-option nzLabel="Completed" nzValue="Completed"></nz-option>
      <nz-option nzLabel="Cancelled" nzValue="Cancelled"></nz-option>
    </nz-select>
  </div>
</div>
