<div class="filter-section">
  <a href="javascript:void(0)" class="closebtn" (click)="closeSideBar()"
    >&times;</a
  >
  <div class="filter-content">
    <!-- Range Date -->
    <nz-divider
      style="margin-top: 20px"
      nzText="PO Date"
      nzOrientation="left"
    ></nz-divider>
    <nz-range-picker
      [(ngModel)]="rangeDate"
      [nzFormat]="appDateFormate"
      (ngModelChange)="changeValue(rangeDate ? $event : '', 'rangeDate')"
    ></nz-range-picker>

    <nz-divider nzText="Ship Out Locations" nzOrientation="left"></nz-divider>
    <nz-select
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select A Location"
      [(ngModel)]="shipOutLocation"
      (ngModelChange)="
        changeValue(shipOutLocation ? $event : '', 'shipOutLocation')
      "
    >
      <nz-option nzLabel="Ahmadabad" nzValue="ahmadabad"></nz-option>
      <nz-option nzLabel="Surat" nzValue="surat"></nz-option>
      <nz-option nzLabel="Rajkot" nzValue="rajkot"></nz-option>
      <nz-option nzLabel="Bhavnagar" nzValue="bhavnagar"></nz-option>
    </nz-select>

    <nz-divider
      style="margin-top: 20px"
      nzText="MPN"
      nzOrientation="left"
    ></nz-divider>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input
            [(ngModel)]="mpn"
            type="text"
            nz-input
            placeholder="Enter MPN"
            (keyup)="accountSearch.next($event)"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-divider nzText="Carrier " nzOrientation="left"></nz-divider>
    <nz-select
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select A Carrier "
      [(ngModel)]="carrier"
      (ngModelChange)="changeValue(carrier ? $event : '', 'carrier')"
    >
      <nz-option nzLabel="Carrier 1" nzValue="carrier1"></nz-option>
      <nz-option nzLabel="Carrier 2" nzValue="carrier2"></nz-option>
      <nz-option nzLabel="Carrier 3" nzValue="carrier3"></nz-option>
    </nz-select>

    <nz-divider
      *ngIf="tabName === 'new' || tabName === 'pendingShipment'"
      nzText="Committed Ship Date"
      nzOrientation="left"
    ></nz-divider>
    <nz-range-picker
      *ngIf="tabName === 'new' || tabName === 'pendingShipment'"
      [(ngModel)]="committedShipDate"
      [nzFormat]="appDateFormate"
      (ngModelChange)="
        changeValue(committedShipDate ? $event : '', 'committedShipDate')
      "
    ></nz-range-picker>

    <!-- pending status -->
    <nz-divider
      *ngIf="tabName === 'pendingShipment'"
      style="margin-top: 20px"
      nzText="Shipping Status"
      nzOrientation="left"
    ></nz-divider>
    <nz-select
      *ngIf="tabName === 'pendingShipment'"
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select A status"
      [(ngModel)]="remarkStatus"
      (ngModelChange)="changeValue(remarkStatus ? $event : '', 'remarkStatus')"
    >
      <nz-option nzLabel="Manifested" nzValue="Manifested"></nz-option>
      <nz-option
        nzLabel="Not yet Manifested"
        nzValue="Not yet Manifested"
      ></nz-option>
    </nz-select>

    <!-- Cancellation Requested -->
    <nz-divider
      *ngIf="tabName === 'cancellationRequested'"
      style="margin-top: 20px"
      nzText="Request Status"
      nzOrientation="left"
    ></nz-divider>
    <nz-select
      *ngIf="tabName === 'cancellationRequested'"
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select A Status"
      [(ngModel)]="remarkStatus"
      (ngModelChange)="changeValue(remarkStatus ? $event : '', 'remarkStatus')"
    >
      <nz-option nzLabel="Accepted" nzValue="Accepted"></nz-option>
      <nz-option
        nzLabel="Already Shipped"
        nzValue="Already Shipped"
      ></nz-option>
    </nz-select>

    <!-- Ship Date -->
    <nz-divider
      *ngIf="tabName === 'pending-invoice'"
      style="margin-top: 20px"
      nzText="Ship Date"
      nzOrientation="left"
    ></nz-divider>
    <nz-range-picker
      *ngIf="tabName === 'pending-invoice'"
      [(ngModel)]="shipDate"
      [nzFormat]="appDateFormate"
      (ngModelChange)="changeValue(shipDate ? $event : '', 'shipDate')"
    ></nz-range-picker>

    <!-- Invoice status -->
    <nz-divider
      *ngIf="tabName === 'pending-invoice'"
      style="margin-top: 20px"
      nzText="Invoice Status"
      nzOrientation="left"
    ></nz-divider>
    <nz-select
      *ngIf="tabName === 'pending-invoice'"
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select A Invoice Status"
      [(ngModel)]="invoiceStatus"
      (ngModelChange)="
        changeValue(invoiceStatus ? $event : '', 'invoiceStatus')
      "
    >
      <nz-option
        nzLabel="Pending 10 days"
        nzValue="Pending 10 days"
      ></nz-option>
      <nz-option nzLabel="Pending 3 days" nzValue="Pending 3 days"></nz-option>
    </nz-select>

    <!-- All Status -->
    <nz-divider
      *ngIf="tabName === 'allOrders'"
      style="margin-top: 20px"
      nzText="PO Status"
      nzOrientation="left"
    ></nz-divider>

    <nz-select
      *ngIf="tabName === 'allOrders'"
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select A status"
      [(ngModel)]="remarkStatus"
      (ngModelChange)="changeValue(remarkStatus ? $event : '', 'remarkStatus')"
    >
      <nz-option nzLabel="New" nzValue="New"></nz-option>
      <nz-option
        nzLabel="Pending Shipment"
        nzValue="Pending Shipment"
      ></nz-option>
      <nz-option nzLabel="In-Transit" nzValue="In-Transit"></nz-option>
      <nz-option nzLabel="Delivered" nzValue="Delivered"></nz-option>
      <nz-option
        nzLabel="Cancellation Requested"
        nzValue="Cancellation Requested"
      ></nz-option>
      <nz-option nzLabel="Cancelled" nzValue="Cancelled"></nz-option>
      <nz-option nzLabel="RTO" nzValue="RTO"></nz-option>
    </nz-select>
  </div>
</div>
