<div class="filter-tag">
  <nz-tag
    *ngIf="selectLocation"
    nzMode="closeable"
    (nzOnClose)="close('shipOutLocation')"
    >{{ selectLocation }}</nz-tag
  >

  <nz-tag
    *ngIf="selectStatus"
    nzMode="closeable"
    (nzOnClose)="close('status')"
    >{{ selectStatus }}</nz-tag
  >

  <nz-tag
    *ngIf="selectRangeDate"
    nzMode="closeable"
    (nzOnClose)="close('rangeDate')"
    >{{ selectRangeDate[0] | customDate }} To
    {{ selectRangeDate[1] | customDate }}</nz-tag
  >

  <nz-tag
    *ngIf="selectShipDate"
    nzMode="closeable"
    (nzOnClose)="close('shipDate')"
  >
    {{ selectShipDate[0] | customDate }} To
    {{ selectShipDate[1] | customDate }}</nz-tag
  >

  <nz-tag
    *ngIf="selectInvoiceStatus"
    nzMode="closeable"
    (nzOnClose)="close('invoiceStatus')"
    >{{ selectInvoiceStatus }}</nz-tag
  >

  <button
    *ngIf="badgeTotal >= 1"
    nz-button
    nzType="default"
    (click)="tagDelete()"
    nzShape="round"
    style="
      float: none;
      background-color: white;
      color: #1221c3;
      border: 1px solid #1221c3;
    "
    class="action-button clear-btn"
  >
    clear
  </button>
</div>
