<div class="cancel-order-section">
  <h4 style="margin-bottom: 10px">
    If you would lick to cancel this PO, select from one of the following reason
    :
  </h4>
  <form nz-form [formGroup]="cancelOrderForm">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <nz-radio-group
            style="display: grid"
            formControlName="option"
            (ngModelChange)="selectReason($event)"
          >
            <label nz-radio nzValue="01 - Out of Stock"
              >01 - Out of Stock</label
            >
            <label nz-radio nzValue="02 - Restricted Product"
              >02 - Restricted Product</label
            >
            <label nz-radio nzValue="03 - Discontinued Product"
              >03 - Discontinued Product</label
            >
            <label nz-radio nzValue="04 - Price Error">04 - Price Error</label>
            <label nz-radio nzValue="05 - Cannot Ship Ground "
              >05 - Cannot Ship Ground
            </label>
            <label nz-radio nzValue="06 - Cannot Ship Before Cancel Date"
              >06 - Cannot Ship Before Cancel Date</label
            >
            <label nz-radio nzValue="99 - Others">99 - Others</label>
          </nz-radio-group>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item
      *ngIf="cancelOrderForm.controls['option'].value === '99 - Others'"
    >
      <nz-form-control nzErrorTip="Please input your other reason!">
        <nz-input-group>
          <input
            type="text"
            formControlName="otherOption"
            nz-input
            placeholder="Enter Other"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
<div class="model-footer">
  <div class="model-action">
    <button
      nz-button
      nzType="default"
      style="color: black; margin-right: 5px"
      (click)="handleCancel()"
    >
      Cancel
    </button>
    <button
      nz-button
      [nzType]="'primary'"
      (click)="submit()"
      [disabled]="!cancelOrderForm.valid || isLoading"
      [ngClass]="{ 'disabled-btn': !cancelOrderForm.valid || isLoading }"
    >
      <span
        *ngIf="isLoading"
        style="color: white; font-size: 16px"
        nz-icon
        nzType="loading"
      ></span>
      <span
        *ngIf="!isLoading"
        nz-icon
        nzType="file-text"
        nzTheme="outline"
      ></span>
      Save
    </button>
  </div>
</div>
