<div class="multi-product-calculator">
  <nz-table
    #nzTable
    nzOuterBordered
    [nzData]="multiProductList"
    nzShowSizeChanger
    [nzPageSizeOptions]="pageSizeOptions"
    [nzTotal]="total"
    [nzShowTotal]="totalTemplate"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzLoading]="isLoading"
    [nzScroll]="{ x: '100%' }"
  >
    <thead>
      <tr>
        <th *ngFor="let header of header">{{ header }}</th>
        <th nzRight class="action-column"><div>Actions</div></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data; let no = index">
        <td>{{ data?.mpn }}</td>
        <td>{{ data?.upc }}</td>
        <td><app-asin [asin]="data.asin"></app-asin></td>
        <td>{{ data?.productName }}</td>
        <td>
          <nz-form-item style="margin-bottom: 0; width: 150px">
            <nz-form-control>
              <nz-input-group nzPrefix="$">
                <input
                  [value]="data?.unitPrice"
                  [(ngModel)]="data.unitPrice"
                  (input)="changePrice($event, 'unit', no)"
                  nz-input
                  type="number"
                  placeholder="Unit"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </td>
        <td>
          {{
            data?.amazonSalesCommission +
              (data?.amazonSalesCommission ? "%" : "")
          }}
        </td>
        <td>{{ data?.shippingCost | currency }}</td>
        <td>
          {{ data?.orderProcessingFee + (data?.orderProcessingFee ? "%" : "") }}
        </td>
        <td>{{ data?.returnProcessingFee | currency }}</td>
        <td>
          <nz-form-item style="margin-bottom: 0; width: 150px">
            <nz-form-control>
              <nz-input-group nzPrefix="$">
                <input
                  [value]="data?.retailPrice"
                  [(ngModel)]="data.retailPrice"
                  (input)="changePrice($event, 'retail', no)"
                  nz-input
                  type="number"
                  placeholder="Retail"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </td>
        <td nzRight>
          <div style="display: flex; align-items: center">
            <a
              style="margin: 0 5px; color: #2121c3; font-size: large"
              nz-tooltip
              nzTooltipTitle="Save"
            >
              <span nz-icon nzType="save" nzTheme="outline"></span>
            </a>
            <a
              style="margin: 0 5px; color: #2121c3; font-size: large"
              nz-tooltip
              nzTooltipTitle="Reset"
              (click)="resetData(no)"
            >
              <span nz-icon nzType="reload" nzTheme="outline"></span>
            </a>
          </div>
          <!-- <button
              nz-button
              nzType="primary"
              class="action-button"
              style="margin-top: 0; height: 35px"
              (click)="matchValue(data.mpn, data.handling_time)"
            >
              Edit Handling Time
            </button> -->
        </td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #totalTemplate let-total
    >Total <b>{{ total }}</b> items</ng-template
  >
</div>
