<div class="notification-email-section">
  <div class="section-header">
    <div class="tab-header">
      <span>NOTIFICATION EMAILS</span>
      <button
        nz-button
        nzType="default"
        class="reset-button"
        (click)="goBack()"
      >
        <span nz-icon nzType="arrow-left" nzTheme="outline"></span> Back
      </button>
    </div>
  </div>

  <div class="body-section" style="margin-left: 0; margin-right: 0">
    <div *ngIf="showSection === section?.TABLE" class="table-section container">
      <div class="header-action-button">
        <span style="width: 188px"></span>
        <nz-radio-group
          [formControl]="formTypes"
          nzButtonStyle="solid"
          (ngModelChange)="changeFormType($event)"
        >
          <label nz-radio-button nzValue="notifications"
            >Group By Notifications</label
          >
          <label nz-radio-button nzValue="emails">Group By Emails</label>
        </nz-radio-group>
        <button
          nz-button
          nzType="primary"
          style="display: block"
          (click)="showSection = section?.FORM"
        >
          <span nz-icon nzType="plus" nzTheme="outline"></span>
          Add Notification Email
        </button>
      </div>
      <div class="table-section" *ngIf="formTypes.value === 'notifications'">
        <div nz-row class="type-list-section data-row">
          <div
            nz-col
            nzSpan="24"
            id="header-row"
            class="d-flex justify-content-center"
          >
            <div
              nz-col
              [nzSpan]="8"
              class="d-flex justify-content-center align-items-center border border-right-0"
              style="padding: 8px"
            >
              <b>Email</b>
            </div>
            <div
              nz-col
              [nzSpan]="12"
              class="d-flex justify-content-center align-items-center border"
              style="padding: 8px"
            >
              <b>Notification Type</b>
            </div>
          </div>
        </div>

        <div
          class="type-list-section data-row"
          [formGroup]="groupByNotificationForm"
        >
          <div
            nz-row
            class="d-flex justify-content-center"
            formArrayName="notificationGroups"
            *ngFor="let group of notificationGroups.controls; let i = index"
          >
            <div
              [formGroupName]="i"
              class="d-flex justify-content-center"
              style="width: 100%"
            >
              <div
                nz-col
                [nzSpan]="8"
                class="d-flex justify-content-center align-items-center border border-top-0"
                nzBordered
                style="padding: 8px"
              >
                {{ group.get("typeName")?.value }}
              </div>
              <div
                class="email-group"
                nz-col
                [nzSpan]="12"
                class="d-flex justify-content-center align-items-center border border-top-0 border-left-0"
                style="padding: 8px; flex-direction: column"
              >
                <div
                  formArrayName="emails"
                  *ngFor="
                    let emailCtrl of group.get('emails')?.value;
                    let j = index
                  "
                  style="width: 70%"
                >
                  <div [formGroupName]="j" class="email-item">
                    <nz-form-item>
                      <nz-form-control class="input-section">
                        <nz-input-group>
                          <input
                            type="text"
                            nz-input
                            placeholder="Enter Email"
                            formControlName="email"
                          />
                        </nz-input-group>
                        <div
                          style="
                            margin-top: 6px;
                            min-width: 64px;
                            display: flex;
                          "
                        >
                          <button
                            (click)="removeNotificationEmail(i, j)"
                            nz-button
                            nzType="primary"
                            nzShape="circle"
                            style="background: #f41e2c !important"
                            class="email-button"
                            *ngIf="group.get('emails')?.value.length > 1"
                            nzSize="small"
                          >
                            -
                          </button>
                          <button
                            (click)="addNotificationEmail(i)"
                            nz-button
                            nzType="primary"
                            nzShape="circle"
                            style="background: #00c13b !important"
                            class="email-button"
                            *ngIf="j === group.get('emails')?.value.length - 1"
                            nzSize="small"
                          >
                            +
                          </button>
                        </div>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-section">
          <button
            nz-button
            nzType="default"
            class="reset-button"
            (click)="reset()"
          >
            <span nz-icon nzType="reload" nzTheme="outline"></span> Reset
          </button>
          <button
            nz-button
            style="margin-top: 0"
            class="action-button"
            [nzType]="'primary'"
            (click)="submitNotificationForm()"
          >
            <span
              *ngIf="isLoading"
              style="color: white; font-size: 16px"
              nz-icon
              nzType="loading"
            ></span>
            <span
              *ngIf="!isLoading"
              nz-icon
              nzType="file-text"
              nzTheme="outline"
            ></span>
            Save
          </button>
        </div>
      </div>

      <div class="table-section" *ngIf="formTypes.value === 'emails'">
        <div nz-row class="type-list-section data-row">
          <div
            nz-col
            nzSpan="24"
            id="header-row"
            class="d-flex justify-content-center"
          >
            <div
              nz-col
              [nzSpan]="6"
              class="d-flex justify-content-center align-items-center border border-right-0"
              style="padding: 8px"
            >
              <b>Email</b>
            </div>
            <div
              nz-col
              [nzSpan]="10"
              class="d-flex justify-content-center align-items-center border border-right-0"
              style="padding: 8px"
            >
              <b>Notification Type</b>
            </div>
            <div
              nz-col
              [nzSpan]="4"
              class="d-flex justify-content-center align-items-center border"
              style="padding: 8px"
            >
              <b>Action</b>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showSection === section?.FORM" class="form-section container">
      <div class="section-header" style="margin-top: 0">
        <div
          class="tab-header justify-content-center"
          style="border-bottom: 0px; padding: 0px"
        >
          <span>Add Notification Email</span>
        </div>
      </div>
      <!-- <form [formGroup]="notificationEmailForm">
        <div class="footer-section">
          <button
            nz-button
            nzType="default"
            class="reset-button"
            (click)="reset()"
          >
            <span nz-icon nzType="reload" nzTheme="outline"></span> Reset
          </button>
          <button
            nz-button
            style="margin-top: 0"
            class="action-button"
            [nzType]="'primary'"
            (click)="submitForm()"
          >
            <span
              *ngIf="isLoading"
              style="color: white; font-size: 16px"
              nz-icon
              nzType="loading"
            ></span>
            <span
              *ngIf="!isLoading"
              nz-icon
              nzType="file-text"
              nzTheme="outline"
            ></span>
            Save
          </button>
        </div>
      </form> -->
    </div>
  </div>
</div>
