<nz-modal [(nzVisible)]="isVisible">
  <ng-container *nzModalContent>
    <nz-result
      nzStatus="success"
      [nzTitle]="'Reference Code : ' + referenceCode"
      [nzSubTitle]="subTitle"
    >
      <div nz-result-extra>
        <button nz-button nzType="text" (click)="copyText(referenceCode)">
          <span nz-icon nzType="copy" nzTheme="outline"></span> Copy Code
        </button>
        <button nz-button nzType="primary" (click)="submit()">OK</button>
      </div>
    </nz-result>
  </ng-container>
</nz-modal>
