<div class="filter-action">
  <!-- <h3 style="display: flex; align-items: center; margin-bottom: 0">
    <span><b>Total Record : </b>{{ totalRecord }}</span>
  </h3> -->
  <div>
    <nz-badge
      *ngIf="isFiltersVisible"
      style="margin-right: 10px"
      [nzShowZero]="false"
      [nzCount]="badgeTotal"
    >
      <button
        (click)="openFilterSection()"
        nz-button
        nzType="primary"
        nzShape="round"
      >
        <span nz-icon nzType="filter" nzTheme="outline"></span>
        Filter
      </button>
    </nz-badge>
    <button
      style="margin-right: 10px"
      nz-button
      nzType="primary"
      nzShape="round"
      (click)="isDownloadVisible = true"
    >
      <span nz-icon nzType="upload" nzTheme="outline"></span> Export
    </button>
  </div>
  <form nz-form [formGroup]="searchForm">
    <nz-form-item style="margin-bottom: 0 !important">
      <nz-form-control nzErrorTip="Please input your valid code!">
        <nz-input-group class="search">
          <input
            class="search"
            formControlName="search"
            nz-input
            placeholder="Search..."
          />
          <button
            nz-button
            nzType="primary"
            class="search-button"
            (click)="searchSubmit()"
          >
            <span nz-icon nzType="search" nzTheme="outline"></span>
          </button>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<nz-modal
  [(nzVisible)]="isDownloadVisible"
  [nzTitle]="'Which Products would you like to export?'"
  (nzOnCancel)="isDownloadVisible = false"
>
  <ng-container *nzModalContent>
    <app-export-model
      [description]="
        'Your Data will be exported as a CSV file and sent to your email.'
      "
      [exportType]="exportType"
      [code]="code"
      [showFilterOptions]="false"
      (close)="isDownloadVisible = false"
    ></app-export-model>
  </ng-container>
</nz-modal>
