@import'../../../../assets/variable/variable.scss';

::ng-deep .ant-picker.ant-picker-disabled {
    background: #f5f5f5 !important;
    border-color: #d9d9d9;
    box-shadow: none;
    cursor: not-allowed;
}

::ng-deep .ant-input[disabled] {
    background-color: #f5f5f5 !important;
}

::ng-deep .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background: #f5f5f5 !important;
}

::ng-deep .ant-modal-confirm .ant-modal-confirm-btns {

    .ant-btn:hover,
    .ant-btn:focus {
        color: $darkBlue;
        border-color: $darkBlue;
    }
}

nz-time-picker {
    width: 100% !important;
}

.small-input {
    width: 200px;
}

.large-input {
    width: 400px;
}

.medium-input {
    width: 300px;
}

.d-flex {
    display: flex !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.border {
    border: 1px solid $border !important;
}

.border-top {
    border-top: 1px solid $border !important;
}

.border-bottom {
    border-bottom: 1px solid $border !important;
}

.border-left {
    border-left: 1px solid $border !important;
}

.border-right {
    border-right: 1px solid $border !important;
}

.border-right-0 {
    border: 0px;
}

.body-section {
    padding: 16px;
    height: calc(100vh - 155px);
    overflow-y: auto;

    .table-section {
        .header-action-button {
            display: flex;
            justify-content: space-between;
            padding-bottom: 16px;

            button {
                border-radius: 4px;
            }


            ::ng-deep .ant-radio-group-solid {

                border: 1px solid #2121c3;
                border-radius: 50px;
                display: flex;
                width: 352px;

                .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
                    color: $white;
                    background: $darkBlue;
                    border-color: $darkBlue;
                    border: 1px solid $darkBlue;
                    border-radius: 50px;
                    width: 175px;
                    display: flex;
                    justify-content: center;
                }

                .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
                    box-shadow: none;
                }

                .ant-radio-button-wrapper:hover {
                    color: $darkBlue;
                }

                .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
                    background-color: $white;
                }

                .ant-radio-button-wrapper:not(:first-child)::before {
                    background-color: $white;
                }

                .ant-radio-button-wrapper-checked:hover {
                    color: $white;
                }

                .ant-radio-button-wrapper {
                    border: 1px solid $white;
                    border-radius: 50px;
                    color: $darkBlue;
                    width: 175px;
                    display: flex;
                    justify-content: center;
                    font-size: 13px;
                    font-weight: 500;
                }
            }

        }
    }

    form {
        nz-form-item {
            display: flex;
            justify-content: center;

            nz-form-label {
                font-size: 18px !important;
                font-weight: 600 !important;
            }

            nz-date-picker {
                width: 100%;
                border-radius: 5px !important;
            }
        }
    }

}

.section-header {
    border: 0 solid rgba(0, 0, 0, 0.125);
    background-color: $white;
    background-clip: border-box;
    border-radius: 5px;
    margin-top: 10px;
    background-color: $white;

    .table-layout {
        padding: 15px;
    }

    .tab-header {
        align-items: center;

        .reset-button {
            margin: 0;
            height: 32px;
            border: 0px;
            box-shadow: none
        }
    }
}

.custom-file-list {
    position: relative;
    height: 40px;
    margin-top: 8px;
    font-size: 14px;
    border: 1px solid lightgray;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;

    .file-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        button,
        button:hover {
            color: $darkBlue;
        }
    }
}

::ng-deep .ant-input {
    border-radius: 5px !important;
    height: 35px;
    font-size: 16px;
}

::ng-deep .ant-form-item-control-input-content {
    display: flex;
}

::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-picker {
    border-radius: 5px !important;
    min-height: 35px !important;
    font-size: 16px;
}

::ng-deep .ant-form-item {
    margin-bottom: 0px;
    padding: 6px;
}

.footer-section {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 540px
    }
}

@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 720px
    }
}

@media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px
    }
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px
    }
}
