@import '../../../../../../assets/variable/variable.scss';

.order-table {
    td {
        button {
            height: 35px;
            margin: 5px;
            border: 1px solid $darkBlue;
        }

        .action-btn {
            button {
                border-radius: 5px;
                font-size: 14px;
                font-weight: 600;
                height: 27px !important;
                padding: 0 10px !important;
                // border: none;
                margin-right: 5px;
                margin-bottom: 3px;
                // color: $white;
                // background-color: $yellow;
                width: 140px;
            }
        }

        ::ng-deep .ant-btn-round {
            padding: 4px 10px !important;
        }

        .tracking {
            display: flex;
            flex-direction: column;
            width: fit-content;

            a {
                text-align: end;
                margin-top: -10px;
            }
        }

    }

    .date {
        white-space: nowrap !important;
    }

    .action-column {
        padding: 0;
        background-color: rgba(239, 239, 250) !important;
        position: sticky;
        right: 0px;

        div {
            padding: 16px;
        }
    }

}

.tracking-id {
    padding: 10px;

    ul {
        margin-bottom: 0px;

        li {
            list-style: none;
            padding: 5px 0;
            font-size: 16px;
            // font-weight: 700;
        }
    }
}
