<div class="order-table">
  <nz-table
    #nzTable
    nzShowSizeChanger
    [nzPageSizeOptions]="pageSizeOptions"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzShowTotal]="totalTemplate"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzLoading]="isLoading"
    [nzData]="listOfData"
    [nzScroll]="{
      x:
        tabName === 'All'
          ? '1600px'
          : tabName === 'pending-shipment'
          ? '1400px'
          : '1200px',
      y: 'calc(100vh - 416px)'
    }"
    (nzPageIndexChange)="onPageIndexChange($event)"
  >
    <thead>
      <tr>
        <th id="po">PO #</th>
        <th id="poDate">PO Date</th>
        <th id="customer-name">Customer Name</th>
        <th id="product">Products</th>
        <th id="po-total">PO Total</th>
        <th id="po_status" *ngIf="tabName === 'All'">PO Status</th>

        <th
          id="committed_ship_date"
          *ngIf="
            tabName === 'new' ||
            tabName === 'pending-shipment' ||
            tabName === 'All'
          "
        >
          Committed Ship Date
        </th>
        <th
          id="date"
          *ngIf="
            tabName === 'new' ||
            tabName === 'pending-shipment' ||
            tabName === 'Cancellation Requested' ||
            tabName === 'All'
          "
        >
          {{
            tabName === "Cancellation Requested"
              ? "Action by Date"
              : "Cancel After Date"
          }}
        </th>
        <th
          id="ship_date"
          *ngIf="tabName === 'pending-invoice' || tabName === 'All'"
        >
          Ship Date
        </th>
        <th id="cancelled_date" *ngIf="tabName === 'All'">Cancelled Date</th>
        <th id="carrier">Carrier</th>
        <th id="invoice_no" *ngIf="tabName === 'All'">Invoice no</th>
        <th
          id="Remark"
          *ngIf="
            tabName === 'pending-shipment' ||
            tabName === 'Cancellation Requested'
          "
        >
          Remark
        </th>
        <th
          id="action"
          class="action-column"
          [nzWidth]="tabName === 'All' ? '78px' : '227px'"
          nzRight
        >
          <div>Action</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>
          <div
            style="display: flex; flex-direction: column; white-space: nowrap"
          >
            <span>
              <a [routerLink]="'po-details/' + data?.po_no" class="link">{{
                data.po_no
              }}</a>
            </span>
            <span class="sub-date"> {{ data?.location_code }}</span>
            <span class="sub-date"> {{ data?.po_method }} </span>
          </div>
        </td>
        <td>
          <app-date-time
            [dateTime]="data?.po_datetime"
            [timeZone]="data?.po_timezone"
          ></app-date-time>
        </td>
        <td>{{ data.customer_name }}</td>
        <td>
          <a
            class="link"
            style="color: black"
            [routerLink]="'/main/products/details/' + data?.porduct_sku"
            >{{ data.porduct_mpn }}</a
          ><br />
          <app-asin [asin]="data?.porduct_asin"></app-asin>
          <ul class="sub-section">
            <li class="no-wrap">
              <div class="sub-val">
                <span class="title">Qty&nbsp;&nbsp;-&nbsp;</span
                >{{ data?.porduct_qty }}
              </div>
            </li>
          </ul>
        </td>
        <td>{{ data.po_total | currency }}</td>
        <td *ngIf="tabName === 'All'">
          {{ data?.status }}
        </td>
        <td
          *ngIf="
            tabName === 'new' ||
            tabName === 'pending-shipment' ||
            tabName === 'All'
          "
        >
          <span class="date">
            {{
              data.committed_ship_date
                ? (data.committed_ship_date | customDate)
                : ""
            }}
          </span>
        </td>
        <td *ngIf="tabName !== 'pending-invoice'">
          <div class="date">
            {{
              tabName === "Cancellation Requested"
                ? data.cancel_date
                  ? (data.cancel_date | customDate)
                  : ""
                : data.cancel_after_date
                ? (data.cancel_after_date | customDate)
                : ""
            }}
          </div>
        </td>
        <td *ngIf="tabName === 'pending-invoice' || tabName === 'All'">
          <div
            class="date"
            [ngStyle]="{ 'text-align': !data.ship_date ? 'center' : '' }"
          >
            {{ data.ship_date ? (data?.ship_date | customDate) : "-" }}
          </div>
        </td>
        <td *ngIf="tabName === 'All'">
          <div
            class="date"
            [ngStyle]="{ 'text-align': !data?.cancel_date ? 'center' : '' }"
          >
            {{ data?.cancel_date ? (data?.cancel_date | customDate) : "-" }}
          </div>
        </td>
        <td>
          <div nz-col>
            <div>
              {{ data?.carrier }}
            </div>
            <a
              class="link"
              *ngIf="data?.tracking?.length > 0"
              (click)="isTracking = true; trackingList = data?.tracking"
            >
              [{{ "Tracking Cnt. " + data?.tracking.length }}]
            </a>
          </div>
        </td>
        <td *ngIf="tabName === 'All'">
          <a class="link" (click)="getDownloadInvoice(data?.po_no)">
            {{ data?.invoice_no }}
          </a>
        </td>
        <td
          *ngIf="
            tabName === 'pending-shipment' ||
            tabName === 'Cancellation Requested'
          "
        >
          {{ data?.remark }}
        </td>
        <td nzRight>
          <div
            *ngIf="tabName === 'new' || tabName === 'pending-shipment'"
            style="display: flex"
          >
            <div *ngIf="tabName === 'pending-shipment'" class="action-btn">
              <button
                style="border: 1px solid #28a745; color: #28a745"
                nz-button
                (click)="markOrderShipped(data?.po_no)"
              >
                Confirm Shipped
              </button>
              <button
                style="border: 1px solid #dc3545; color: #dc3545"
                nz-button
                (click)="selectAction(data?.po_no, 'Cancel Order')"
              >
                Cancel Order
              </button>
            </div>
            <div *ngIf="tabName === 'new'" class="action-btn">
              <button
                style="border: 1px solid #28a745; color: #28a745"
                nz-button
                (click)="acknowledgeOrders(data?.po_no)"
              >
                Acknowledge
              </button>
              <button
                style="border: 1px solid #dc3545; color: #dc3545"
                nz-button
                (click)="selectAction(data?.po_no, 'Cancel Order')"
              >
                Cancel Order
              </button>
            </div>
            <ng-container [ngTemplateOutlet]="dots"></ng-container>
          </div>

          <div
            style="display: flex"
            *ngIf="tabName === 'Cancellation Requested'"
          >
            <div class="action-btn">
              <button
                style="border: 1px solid #28a745; color: #28a745"
                nz-button
                (click)="markOrderShipped(data?.po_no)"
              >
                Confirm Shipped
              </button>
              <button
                style="border: 1px solid #dc3545; color: #dc3545"
                nz-button
                (click)="acceptCancellation(data?.po_no)"
              >
                Confirm Cancel
              </button>
            </div>
            <ng-container [ngTemplateOutlet]="dots"></ng-container>
          </div>

          <!-- Pending invoice -->
          <div style="display: flex" *ngIf="tabName === 'pending-invoice'">
            <div class="action-btn">
              <button
                style="border: 1px solid #28a745; color: #28a745"
                nz-button
                (click)="selectAction(data?.po_no, 'Upload Invoice')"
              >
                Upload Invoice
              </button>
              <button
                style="border: 1px solid #dc3545; color: #dc3545"
                nz-button
                (click)="selectAction(data?.po_no, 'Cancel Order')"
              >
                Cancel Order
              </button>
            </div>
            <ng-container [ngTemplateOutlet]="dots"></ng-container>
          </div>

          <!-- All -->
          <div *ngIf="tabName === 'All'">
            <ng-container [ngTemplateOutlet]="dots"></ng-container>
          </div>

          <ng-template #dots>
            <app-three-dot-menu-btn
              style="margin-left: 5px"
              [menu]="menu"
            ></app-three-dot-menu-btn>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li
                  (click)="selectAction(data?.po_no, 'Download PO')"
                  nz-menu-item
                >
                  Download PO
                </li>
                <li
                  (click)="selectAction(data?.po_no, 'Download Label')"
                  nz-menu-item
                >
                  Download Label
                </li>
                <li
                  (click)="selectAction(data?.po_no, 'PO Clarification')"
                  nz-menu-item
                >
                  PO Clarification
                </li>
              </ul>
            </nz-dropdown-menu>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #totalTemplate let-total
    >Total <b>{{ total }}</b> items</ng-template
  >

  <nz-modal
    [(nzVisible)]="isCancelOrderVisible"
    nzTitle="Cancel Order"
    (nzOnCancel)="isCancelOrderVisible = false"
  >
    <ng-container *nzModalContent>
      <app-cancel-order
        [poNo]="poNo"
        (closeModel)="isCancelOrderVisible = false"
      ></app-cancel-order>
    </ng-container>
  </nz-modal>
</div>

<nz-modal
  [(nzVisible)]="poClarification"
  [nzTitle]="'PO Clarification (PO# ' + poNo + ')'"
  (nzOnCancel)="poClarification = false"
>
  <ng-container *nzModalContent>
    <app-po-clarification
      [poNo]="poNo"
      (close)="poClarification = false"
    ></app-po-clarification>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isConfirmShipped"
  nzTitle="Confirm Shipped"
  (nzOnCancel)="isConfirmShipped = false"
>
  <ng-container *nzModalContent>
    <app-confirm-shipped
      [poNo]="poNo"
      (close)="isConfirmShipped = false"
    ></app-confirm-shipped>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isTracking"
  nzTitle="Tracking"
  (nzOnCancel)="isTracking = false"
>
  <ng-container *nzModalContent>
    <div class="tracking-id">
      <ul>
        <li *ngFor="let tracking of trackingList; let no = index">
          {{ no + 1 }}. {{ tracking }}
        </li>
      </ul>
    </div>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isUploadModelVisible"
  nzTitle="Upload Invoice"
  (nzOnCancel)="isUploadModelVisible = false"
>
  <ng-container *nzModalContent>
    <app-upload
      [poNo]="poNo"
      (closeModel)="isUploadModelVisible = false"
    ></app-upload>
  </ng-container>
</nz-modal>
