<div class="order-table">
  <nz-table
    #nzTable
    nzShowSizeChanger
    [nzPageSizeOptions]="pageSizeOptions"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzShowTotal]="totalTemplate"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzLoading]="isLoading"
    [nzData]="listOfData"
    [nzScroll]="{ x: '100%' }"
  >
    <thead>
      <tr>
        <th>PO #</th>
        <th>PO Date</th>
        <th>Customer Name</th>
        <th>Products</th>
        <th>PO Total</th>

        <th
          *ngIf="
            tabName === 'new' ||
            tabName === 'pending-shipment' ||
            tabName === 'All'
          "
        >
          Committed Ship Date
        </th>
        <th
          *ngIf="
            tabName === 'new' ||
            tabName === 'pending-shipment' ||
            tabName === 'Cancellation Requested' ||
            tabName === 'All'
          "
        >
          {{
            tabName === "Cancellation Requested"
              ? "Action by Date"
              : "Cancel After Date"
          }}
        </th>
        <th *ngIf="tabName === 'pending-invoice' || tabName === 'All'">
          Ship Date
        </th>
        <th *ngIf="tabName === 'All'">Cancel Date</th>
        <th>Carrier</th>
        <th
          *ngIf="
            tabName === 'pending-shipment' ||
            tabName === 'Cancellation Requested' ||
            tabName === 'pending-invoice' ||
            tabName === 'All'
          "
        >
          Tracking
        </th>
        <th *ngIf="tabName === 'Cancellation Requested'">Request Status"</th>
        <th *ngIf="tabName === 'pending-shipment'">Remark Status</th>
        <th *ngIf="tabName === 'pending-invoice'">Invoice Status</th>
        <th *ngIf="tabName === 'All'">Invoice no</th>
        <th *ngIf="tabName === 'All'">PO Status</th>
        <th [ngStyle]="{ width: tabName === 'All' ? '50px' : '190px' }">
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>
          <div style="display: flex; flex-direction: column">
            <span>
              <a [routerLink]="'po-details/' + data?.po_no" class="link">{{
                data.po_no
              }}</a>
            </span>
            <span class="sub-date"> {{ data?.location_code }}</span>
            <span class="sub-date"> {{ data?.po_method }} </span>
          </div>
        </td>
        <td>
          {{ data?.po_datetime | customDate : " hh:MM a" }}
        </td>
        <td>{{ data.customer_name }}</td>
        <td>
          <a
            class="link"
            style="color: black"
            [routerLink]="'/main/products/details/' + data?.sku"
            >{{ data.product_mpn }}</a
          ><br />
          <app-asin [asin]="data?.product_asin"></app-asin>
          <ul class="sub-section">
            <li class="no-wrap">
              <div class="sub-val">
                <span class="title">Qty&nbsp;&nbsp;-&nbsp;</span
                >{{ data?.product_qty }}
              </div>
            </li>
          </ul>
        </td>
        <td>{{ data.po_total | currency }}</td>
        <td
          *ngIf="
            tabName === 'new' ||
            tabName === 'pending-shipment' ||
            tabName === 'All'
          "
        >
          {{ data.committed_ship_date | customDate }}
        </td>
        <td
          *ngIf="
            tabName === 'new' ||
            tabName === 'pending-shipment' ||
            tabName === 'Cancellation Requested' ||
            tabName === 'All'
          "
        >
          {{ data.cancel_after_date | customDate }}
        </td>
        <td *ngIf="tabName === 'pending-invoice' || tabName === 'All'">
          {{ data?.ship_date | customDate : " hh:MM a" }}
        </td>
        <td *ngIf="tabName === 'All'">
          {{ data?.cancel_date | date : "dd-MM-yyyy HH:MM a" }}
        </td>
        <td>
          {{ data?.carrier }}
        </td>
        <td *ngIf="tabName !== 'new'">
          <div class="tracking">
            {{ data?.tracking[0] }}
            <a
              class="link"
              *ngIf="data?.tracking.length > 1"
              (click)="isTracking = true; trackingList = data?.tracking"
            >
              ...
            </a>
          </div>
        </td>
        <td *ngIf="tabName === 'Cancellation Requested'">
          {{ data?.po_status }}
        </td>
        <td *ngIf="tabName === 'pending-shipment'">
          {{ data?.status_remark }}
        </td>
        <td *ngIf="tabName === 'pending-invoice'">
          {{ data?.invoice_status }}
        </td>
        <td *ngIf="tabName === 'All'">
          {{ data?.invoice_no }}
          <!-- <div>
            <b class="no-wrap">{{ data?.shippingDetails?.name }}</b>
          </div>
          <ul class="sub-section">
            <li class="no-wrap">
              <div class="sub-val">
                {{ data?.shippingDetails?.number }}
              </div>
            </li>
          </ul> -->
        </td>
        <td *ngIf="tabName === 'All'">
          <app-status-badge
            [type]="statusEnum.Success"
            [text]="data?.customer_state"
          ></app-status-badge>
        </td>
        <td>
          <div
            *ngIf="tabName === 'new' || tabName === 'pending-shipment'"
            style="display: flex"
          >
            <div *ngIf="tabName === 'pending-shipment'" class="action-btn">
              <button
                style="border: 1px solid #28a745; color: #28a745"
                nz-button
                (click)="markOrderShipped(data?.po_no)"
              >
                Confirm Shipped
              </button>
              <button
                style="border: 1px solid #dc3545; color: #dc3545"
                nz-button
                (click)="selectAction(data?.po_no, 'Cancel Order')"
              >
                Cancel Order
              </button>
            </div>
            <div *ngIf="tabName === 'new'" class="action-btn">
              <button
                style="border: 1px solid #28a745; color: #28a745"
                nz-button
                (click)="acknowledgeOrders(data?.po_no)"
              >
                Acknowledge
              </button>
              <button
                style="border: 1px solid #dc3545; color: #dc3545"
                nz-button
                (click)="selectAction(data?.po_no, 'Cancel Order')"
              >
                Cancel Order
              </button>
            </div>
            <app-three-dot-menu-btn
              style="margin-left: 5px"
              [menu]="menu"
            ></app-three-dot-menu-btn>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li
                  (click)="selectAction(data?.po_no, 'Download PO')"
                  nz-menu-item
                >
                  Download PO
                </li>
                <li
                  (click)="selectAction(data?.po_no, 'Download Label')"
                  nz-menu-item
                >
                  Download Label
                </li>
                <li
                  (click)="selectAction(data?.po_no, 'PO Clarification')"
                  nz-menu-item
                >
                  PO Clarification
                </li>
                <!-- <li
                  (click)="selectAction(data?.po_no, 'Cancel Order')"
                  nz-menu-item
                >
                  Cancel Order
                </li> -->
              </ul>
            </nz-dropdown-menu>
          </div>

          <div
            style="display: flex"
            *ngIf="tabName === 'Cancellation Requested'"
          >
            <div class="action-btn">
              <button
                style="border: 1px solid #17a2b8; color: #17a2b8"
                nz-button
                (click)="acceptCancellation(data?.po_no)"
              >
                Confirm Cancel
              </button>
              <button
                style="border: 1px solid #28a745; color: #28a745"
                nz-button
                (click)="markOrderShipped(data?.po_no)"
              >
                Confirm Shipped
              </button>
            </div>
            <app-three-dot-menu-btn
              style="margin-left: 5px"
              [menu]="menu"
            ></app-three-dot-menu-btn>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li
                  (click)="selectAction(data?.po_no, 'Download PO')"
                  nz-menu-item
                >
                  Download PO
                </li>
                <li
                  (click)="selectAction(data?.po_no, 'PO Clarification')"
                  nz-menu-item
                >
                  PO Clarification
                </li>
              </ul>
            </nz-dropdown-menu>
          </div>

          <!-- Pending invoice -->
          <div style="display: flex" *ngIf="tabName === 'pending-invoice'">
            <div class="action-btn">
              <button
                style="border: 1px solid #ffc107; color: #ffc107"
                nz-button
              >
                Upload Invoice
              </button>
              <button
                style="border: 1px solid #dc3545; color: #dc3545"
                nz-button
                (click)="selectAction(data?.po_no, 'Cancel Order')"
              >
                Cancel Invoice
              </button>
            </div>
            <app-three-dot-menu-btn
              style="margin-left: 5px"
              [menu]="menu"
            ></app-three-dot-menu-btn>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li
                  (click)="selectAction(data?.po_no, 'Download PO')"
                  nz-menu-item
                >
                  Download PO
                </li>
                <li
                  (click)="selectAction(data?.po_no, 'PO Clarification')"
                  nz-menu-item
                >
                  PO Clarification
                </li>
              </ul>
            </nz-dropdown-menu>
          </div>

          <!-- All -->
          <div *ngIf="tabName === 'All'">
            <app-three-dot-menu-btn [menu]="menu"></app-three-dot-menu-btn>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li
                  (click)="selectAction(data?.po_no, 'Download PO')"
                  nz-menu-item
                >
                  Download PO
                </li>
                <li
                  (click)="selectAction(data?.po_no, 'PO Clarification')"
                  nz-menu-item
                >
                  PO Clarification
                </li>
                <!-- <li
                  (click)="selectAction(data?.po_no, 'Cancel Order')"
                  nz-menu-item
                >
                  Cancel Order
                </li> -->
              </ul>
            </nz-dropdown-menu>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #totalTemplate let-total
    >Total <b>{{ total }}</b> items</ng-template
  >

  <nz-modal
    [(nzVisible)]="isCancelOrderVisible"
    nzTitle="Cancel Order"
    (nzOnCancel)="isCancelOrderVisible = false"
  >
    <ng-container *nzModalContent>
      <app-cancel-order
        [poNo]="poNo"
        (closeModel)="isCancelOrderVisible = false"
      ></app-cancel-order>
    </ng-container>
  </nz-modal>
</div>

<nz-modal
  [(nzVisible)]="poClarification"
  nzTitle="Create Ticket"
  (nzOnCancel)="poClarification = false"
>
  <ng-container *nzModalContent>
    <app-po-clarification
      [poNo]="poNo"
      (close)="poClarification = false"
    ></app-po-clarification>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isConfirmShipped"
  nzTitle="Confirm Shipped"
  (nzOnCancel)="isConfirmShipped = false"
>
  <ng-container *nzModalContent>
    <app-confirm-shipped
      (close)="isConfirmShipped = false"
    ></app-confirm-shipped>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isTracking"
  nzTitle="Tracking"
  (nzOnCancel)="isTracking = false"
>
  <ng-container *nzModalContent>
    <div class="tracking-id">
      <ul>
        <li *ngFor="let tracking of trackingList; let no = index">
          {{ no + 1 }}. {{ tracking }}
        </li>
      </ul>
    </div>
  </ng-container>
</nz-modal>
