<div class="order-table">
  <nz-table
    #nzTable
    nzShowSizeChanger
    [nzPageSizeOptions]="pageSizeOptions"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzShowTotal]="totalTemplate"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzLoading]="isLoading"
    [nzData]="listOfData"
    [nzScroll]="{ x: '100%' }"
  >
    <thead>
      <tr>
        <th>PO #</th>
        <th>PO Date</th>
        <th>Customer Name</th>
        <th>Products</th>
        <th>PO Total</th>

        <th *ngIf="tabName === 'new' || tabName === 'pending-shipment'">
          Committed Ship Date
        </th>
        <th
          *ngIf="
            tabName === 'new' ||
            tabName === 'pending-shipment' ||
            tabName === 'Cancellation Requested'
          "
        >
          Cancel After Date
        </th>
        <th
          *ngIf="
            tabName === 'pending-shipment' ||
            tabName === 'Cancellation Requested'
          "
        >
          Tracking
        </th>
        <th
          *ngIf="
            tabName === 'new' ||
            tabName === 'pending-shipment' ||
            tabName === 'Cancellation Requested'
          "
        >
          Carrier
        </th>
        <th
          *ngIf="
            tabName === 'pending-shipment' ||
            tabName === 'Cancellation Requested'
          "
        >
          PO Status
        </th>
        <th
          style="width: 200px"
          *ngIf="
            tabName === 'new' ||
            tabName === 'pending-shipment' ||
            tabName === 'Cancellation Requested'
          "
        >
          Action
        </th>

        <th
          *ngIf="
            tabName === 'In Transit' ||
            tabName === 'Delivered' ||
            tabName === 'All'
          "
        >
          Shipping Details
        </th>
        <th
          *ngIf="
            tabName === 'In Transit' ||
            tabName === 'Delivered' ||
            tabName === 'All'
          "
        >
          Status
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>
          <div style="display: flex; flex-direction: column">
            <span>
              <a [routerLink]="'po-details/' + data?.po_no" class="link">{{
                data.po_no
              }}</a>
            </span>
            <span class="sub-date"> {{ data?.location_code }}</span>
            <span class="sub-date"> {{ data?.po_method }} </span>
          </div>
        </td>
        <td>
          <span class="sub-date">
            {{ data?.po_datetime | customDate : ", y hh:MM a" }}
          </span>
        </td>
        <td>{{ data.customer_name }}</td>
        <td>
          <a
            class="link"
            [routerLink]="'/main/products/details/' + data?.sku"
            >{{ data.porduct_mpn }}</a
          ><br />
          <app-asin [asin]="data?.porduct_asin"></app-asin>
          <ul class="sub-section">
            <li class="no-wrap">
              <div class="sub-val">
                <span class="title">Qty&nbsp;&nbsp;-&nbsp;</span
                >{{ data?.porduct_qty }}
              </div>
            </li>
          </ul>
        </td>
        <td>{{ data.po_total | currency }}</td>
        <td *ngIf="tabName === 'new' || tabName === 'pending-shipment'">
          {{ data.comitted_ship_date | customDate }}
        </td>
        <td
          *ngIf="
            tabName === 'new' ||
            tabName === 'pending-shipment' ||
            tabName === 'Cancellation Requested'
          "
        >
          {{ data.cancel_after_date | customDate }}
        </td>
        <td
          *ngIf="
            tabName === 'pending-shipment' ||
            tabName === 'Cancellation Requested'
          "
        >
          {{ data?.tracking }}
        </td>
        <td
          *ngIf="
            tabName === 'new' ||
            tabName === 'pending-shipment' ||
            tabName === 'Cancellation Requested'
          "
        >
          {{ data?.carrier }}
        </td>
        <td
          *ngIf="
            tabName === 'pending-shipment' ||
            tabName === 'Cancellation Requested'
          "
        >
          {{ data?.po_status }}
        </td>
        <td
          *ngIf="
            tabName === 'new' ||
            tabName === 'pending-shipment' ||
            tabName === 'Cancellation Requested'
          "
        >
          <div
            *ngIf="tabName === 'new' || tabName === 'pending-shipment'"
            style="display: flex"
          >
            <div
              *ngIf="tabName === 'pending-shipment'"
              class="action-btn"
              style="max-width: 140px"
            >
              <button
                *ngIf="data.confirm_ship_button"
                style="background-color: #17a2b8"
                nz-button
                (click)="markOrderShipped(data?.po_no)"
              >
                Confirm Shipped
              </button>
              <button
                *ngIf="data.confirm_manifest_button"
                style="background-color: #28a745"
                nz-button
              >
                Confirm Manifest
              </button>
              <button
                *ngIf="data.upload_invoice_button"
                style="background-color: #ffc107; color: black"
                nz-button
              >
                Upload invoice
              </button>
              <button
                style="background-color: #dc3545"
                nz-button
                (click)="selectAction(data?.po_no, 'Cancel Order')"
              >
                Cancel Order
              </button>
            </div>
            <div
              *ngIf="tabName === 'new'"
              class="action-btn"
              style="max-width: 115px"
            >
              <button
                style="background-color: #28a745"
                nz-button
                (click)="acknowledgeOrders(data?.po_no)"
              >
                Acknowledge
              </button>
              <button
                style="background-color: #dc3545"
                nz-button
                (click)="selectAction(data?.po_no, 'Cancel Order')"
              >
                Cancel Order
              </button>
            </div>
            <app-three-dot-menu-btn [menu]="menu"></app-three-dot-menu-btn>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li
                  (click)="selectAction(data?.po_no, 'Download PO')"
                  nz-menu-item
                >
                  Download PO
                </li>
                <li
                  (click)="selectAction(data?.po_no, 'Download Label')"
                  nz-menu-item
                >
                  Download Label
                </li>
                <li
                  (click)="selectAction(data?.po_no, 'PO Clarification')"
                  nz-menu-item
                >
                  PO Clarification
                </li>
                <!-- <li
                  (click)="selectAction(data?.po_no, 'Cancel Order')"
                  nz-menu-item
                >
                  Cancel Order
                </li> -->
              </ul>
            </nz-dropdown-menu>
          </div>

          <div class="action-btn" *ngIf="tabName === 'Cancellation Requested'">
            <button
              style="background-color: #17a2b8"
              nz-button
              (click)="acceptCancellation(data?.po_no)"
            >
              Confirm Cancellation
            </button>
            <button
              *ngIf="data.already_ship_button"
              style="background-color: #28a745"
              nz-button
              (click)="markOrderShipped(data?.po_no)"
            >
              Already Shipped
            </button>
            <button
              *ngIf="data.already_manifest_button"
              style="background-color: #007bff"
              nz-button
            >
              Already Manifested
            </button>
          </div>
        </td>

        <td
          *ngIf="
            tabName === 'In Transit' ||
            tabName === 'Delivered' ||
            tabName === 'All'
          "
        >
          <div>
            <b class="no-wrap">{{ data?.shippingDetails?.name }}</b>
          </div>
          <ul class="sub-section">
            <li class="no-wrap">
              <div class="sub-val">
                {{ data?.shippingDetails?.number }}
              </div>
            </li>
          </ul>
        </td>
        <td
          *ngIf="
            tabName === 'In Transit' ||
            tabName === 'Delivered' ||
            tabName === 'All'
          "
        >
          <app-status-badge
            [type]="statusEnum.Success"
            [text]="data?.customer_state"
          ></app-status-badge>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #totalTemplate let-total
    >Total <b>{{ total }}</b> items</ng-template
  >

  <nz-modal
    [(nzVisible)]="isCancelOrderVisible"
    nzTitle="Cancel Order"
    (nzOnCancel)="isCancelOrderVisible = false"
  >
    <ng-container *nzModalContent>
      <app-cancel-order
        [poNo]="poNo"
        (closeModel)="isCancelOrderVisible = false"
      ></app-cancel-order>
    </ng-container>
  </nz-modal>
</div>

<nz-modal
  [(nzVisible)]="poClarification"
  nzTitle="Create Ticket"
  (nzOnCancel)="poClarification = false"
>
  <ng-container *nzModalContent>
    <app-po-clarification
      [poNo]="poNo"
      (close)="poClarification = false"
    ></app-po-clarification>
  </ng-container>
</nz-modal>
